-# -----------------------------------------------------------------------------
-# Javascripts
-# -----------------------------------------------------------------------------

:javascript
  (function(d) {
    var config = {
      kitId: "osa6fnb",
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src="//use.typekit.net/"+config.kitId+".js";tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);

-# All the other scripts (including jQuery).
= javascript_include_tag "app", async: "async"

-# Deferred JS scripts. These don't run until after the load event is triggered.
:coffee
  downloadJSAtOnload = ->
    element = document.createElement("script")
    element.src = "#{asset_path :js, "defer"}"
    document.body.appendChild element
  if window.addEventListener
    window.addEventListener "load", downloadJSAtOnload, false
  else if window.attachEvent
    window.attachEvent "onload", downloadJSAtOnload
  else
    preExistingOnload = window.onload
    window.onload = ->
      setTimeout downloadJSAtOnload, 0
      preExistingOnload?()

- if content_for? :page_scripts
  = yield :page_scripts

= google_analytics_tag
