%header.pageHeader
  %h1.logo
    = link_to data.site.name, "/", class: "logo__link"
  %nav.navMain
    %ol.navMain__list
      %li.navMain__item= link_to "Designer", "/design", class: "navMain__link"
      %li.navMain__item= link_to "Writer", "/writing", class: "navMain__link"
      %li.navMain__item= link_to "Builder", "/#builder", class: "navMain__link"
