---
title: A Quiet Moment And A Minor&nbsp;Chord
date: 2009-05-19
description: Between running the studio, working through some major life changes, client travel and relocating to Chicago, I've had very little time to stop recently. I learned the hard way, that the longer you go with your blinders on, the more drastic the impact when you look around.
tags: chicago, life
---

%p
  A very wise man, years beyond his age, once said&hellip;

%blockquote.quote
  .quote__text
    %p
      Life moves pretty fast. You don&rsquo;t stop and look around once in a
      while, you could miss it.
  %cite.quote__citation Ferris Bueller

%p
  Between running the studio, working through some major life changes, client
  travel and relocating to Chicago, I&rsquo;ve had very little time to stop
  recently. These past several months have been the kind where it&rsquo;s easier
  to keep moving, to the point of exhaustion, than it is to take stock of and
  evaluate everything that&rsquo;s swirling around. Unfortunately, I learned the
  hard way, that the longer you go with your blinders on, the more drastic the
  impact when you look around.

%p
  A few days ago I found myself at JFK&rsquo;s Terminal 5, boarding my plane and
  embarking on what may possibly be my last ever flight out of NYC. I quietly
  took my seat and when the cabin doors shut, found myself alone in my aisle, no
  one to talk to, no new stories to hear. I threw on my headphones and, as all
  the great albums help facilitate, began to look back on the past few months
  that had been such a blur as I raced through them. Thinking about completed
  projects, what worked and what didn&rsquo;t, whether they had any follow up
  work to be done, how they evolved from concept through completion. I began
  thinking about new friends, how we don&rsquo;t have a history to keep us
  connected over 2,500 miles, but we had a future that is now completely lost to
  circumstance.

%p
  Right about the time that I had worked through this, our plane made it to the
  front of JFK&rsquo;s epic departure line and we were turning the corner and
  revving up the engines. As we sped down the runway, music blaring in my ears,
  and the skyline growing ever more blurry in the background, I couldn&rsquo;t
  ignore the obvious anymore. I thought about the circumstances that brought me
  to NYC in the first place, the same thing I was leaving behind. I thought
  about the good times and the bad, the way things changed over the past two
  years, and how I  had for the first time discovered the meaning of ecstatic
  misery, how you can be emotionally paralyzed with equal parts joy and sorrow,
  fighting each other to move the  center of the rope over their line and claim
  a mental victory.

%p
  As we ascended, and I looked out over the city, I realized that it was all
  over, that no matter how excited I was about what lay ahead, the simple truth
  I had been rushing past this entire time is that I had lost my chance to make
  my memories what I wanted them to be. I&rsquo;ve spent the past decade focused
  on what lay just ahead, that I often overlooked or took for granted the
  present. And at that moment, as I saw her new neighborhood a thousand feet
  below, my thoughts froze and I couldn&rsquo;t continue.

%p
  I spent most of the rest of the trip zoning out on
  %em Sports Center
  or
  = succeed "," do
    %em Spongebob Squarepants
  sorting through my first week&rsquo;s worth of plans in Chicago. Thinking
  about my new apartment and wondering how the neighborhood changed in four years
  time. As we broke cloud cover over Chicago, I flipped around and
  %em Ferris Bueller&rsquo;s Day Off
  was in afternoon re-run on TBS. It seemed perfect, a serendipitous reminder
  that I was coming home. And as Ferris repeated that famous line I felt the
  truth, and the truth stung.

%p
  So often we find ourselves as I had these past several months. Not taking the
  time to stop and appreciate life. Most of the time, it&rsquo;s ok. Life
  continues, you miss very little and everyone is still happy. But, those times,
  unchecked, that do matter, begin to build up. And eventually you find yourself
  alone on an airplane with a volatile mix of introspection and time for pause
  and it all gets ignited by the perfect chord tugging at just the right
  heartstring. It all bursts out in an onslaught of frustration, anger, sadness,
  fear and sorrow. A tidal wave that could have been easily avoided with just a
  regular release of the valve.
