---
title: But Hey, At Least There&rsquo;s No&nbsp;Benefits
date: 2008-12-16
---

%p
  The past 2 weeks have been an utter whirlwind of activity here around the
  office. A mad rush to launch one client website lead directly into a Black
  Friday-esque dash to launch another just days later. When all was said and
  done 16 days had passed, thousands of songs were scrobbled, several fires had
  been extinguished, and two of our best clients to date had new websites that
  they were proud to show off to everyone that was ready to take a look. It
  looked as if I&rsquo;d be rewarded with a shiny, new weekend full of
  relaxation.

%p
  Then the call came. It was about 4:30 on Friday. I was decompressing from the
  Big Push&trade; and about to check out for the weekend when I answered the
  call. A former colleague of mine from my studio days was working at a
  publication in the city and they had a major deadline approaching. They were
  far behind. She wanted to bring me in to help them out with a few templates.
  Nothing major, but there was a catch, the templates were due Monday. I
  wasn&rsquo;t sure if that &quot;Shit!&quot; was audible or just visualized,
  but I knew my weekend was toast. Her supervisor and I passed a few phone calls
  and e-mails around and the agreement was in place. There went my reward for
  the Big Push&trade;&hellip; a sequel.

%p
  The job was fairly painless, and even with the last minute project I was still
  able to discover some downtime to be had, so it wasn&rsquo;t a completely lost
  weekend. Rather, it wouldn&rsquo;t have been if I didn&rsquo;t let the whole
  situation create the worst attitude known to man in recent memory. I was
  pissed that my weekend was lost and made sure everyone around me knew. When I
  should have been enjoying my free time and looking back on what we
  accomplished with pride, I was stewing in my anger, pissed that there was only
  = succeed "." do
    %em more

%p
  It was a shitty attitude to have, and in retrospect, with the Big Push&trade;
  extension come and gone,  I can finally look back and realize that. These long
  hours, these last minute projects, these sleepless nights aren&rsquo;t things
  that deserve rewarding. They are the reward. It&rsquo;s the result of making
  the hardest decision of my life and leaving the safety of studio life. Work
  tsunami&rsquo;s like the one I just survived are the reward for not having to
  ever sit at my desk and look busy for 6 hours for fear of being sent home on a
  slow day. The 10 hour day is my reward for not having to ever put in an
  overnight shift to make global font changes in an 1,800 page program going to
  print in the morning. The lack of holiday pay is my reward for not having to
  wake up an hour early every day and embark on a soul crushing NYC rush-hour
  commute.

%p
  It was the scariest decision of my life, leaving the studio life and turning
  LHNL into a full-time venture, but weeks like those that just passed regularly
  remind me that it was the best decision I&rsquo;ve ever made. Here&rsquo;s to
  a busy, sleepless, last-minute, and chaos-filled 2009 to ensure that I never
  forget that.

%p
  Now, will someone please buy me a comfy chair? Damn, if I can&rsquo;t miss one
  thing about the past.
