---
title: Clutter 2.0
date: 2008-05-22
---

%p
  While I&rsquo;m a big fan of this new social web we inhabit, what with all the
  interconnection, conversation and discovery it brings to the table. What
  I&rsquo;m not a fan of is the overwhelming amount of page clutter that follows
  at its hip. As I bounce around from blog to podcast, personal site to online
  news outlet and immerse myself in del.icio.us, facebook, twitter, digg,
  reddit, et al. I am pummeled with a constant barrage from the chiclet brigade,
  a fierce foe set on destroying otherwise strongly constructed pages.

%figure.is--right.is--spaced
  = image_tag "assets/images/writing/social-clutter.gif", width: 192, height: 117

%p
  Often times I feel it&rsquo;s simply a result of an overlooked addition at the
  last minute. A moment of, &ldquo;Oh damn, we forgot the social bookmarking
  links, uh, just throw them down there at the bottom of the page, alright?
  Kthxbye!&rdquo; The result is a scene we&rsquo;ve witnessed far too many
  times, something in the realm of this screenshot from Insomnia Radio.

%p
  While organized themselves, they are most often a block thrown into the page
  flow with no thought to how they impact the balance, flow of information and
  user interaction, not to mention the stylistic differences between the
  chiclets themselves and the rest of the site. It has always struck me as odd
  that this answer to the all important question, &ldquo;How can I easily spread
  my message to others?&rdquo; is relegated to oh-don&rsquo;t-forget-that status.

%p
  In working with
  = link_to "Indie Street Radio", "http://www.indiestreetradio.com/"
  as they move their radio show off the airwaves and into the podcasting
  universe I came across this same problem; How do I go about incorporating a
  collection of images from unrelated sites into every post in such a way that
  doesn&rsquo;t break with the style guidelines I&rsquo;ve set up?

%p
  Truth be told, I&rsquo;ve spent more time on this post than I did solving the
  problem. It&rsquo;s a simple matter of treating all information on the page
  with equal weight. I simply took some time up front, considered my content and
  tried to lay out a development path that avoided afterthoughts. However, if
  you&rsquo;re working on a project and something arises at the end of it,
  rather than shoehorn it into an incompatible framework, put the breaks on and
  give it the same attention that you gave the color palette, the font choices,
  the image compression and every other piece of the puzzle up to that point.
  Sure, it may push your launch back by a day or two as you reconfigure your
  code, but the payoff will last for the life of the site.
