---
title: Collaborating Through The&nbsp;Years
date: 2008-07-19
description: What do you get when you cross 50 music nerds, more than half a century of music history and a challenge to make a bunch of mix cd's?
tags: collaboration, music
---

%p
  I&rsquo;m back from vacation and I&rsquo;ve been having a hard time getting
  myself organized and back in the swing of things. My current work ethic is
  definitely far below where it should be with regards to my current workload.
  I&rsquo;m hoping that this upcoming weekend, filled mostly with relaxation,
  entertainment and friends, will finally be what I need to get myself
  re-aligned, but there has been one thing that&rsquo;s been helping out quite a
  bit, and if you&rsquo;ve been following
  = link_to "my last.fm feed", "http://www.last.fm/user/lhnl"
  then you already have a hint.

%p
  It&rsquo;s quite the understatement to refer to me as a music nerd. As is the
  case with most people online, I&rsquo;ve gravitated towards others who share
  my over-the-top obsession with sound and melody. One community I&rsquo;m a
  member of had the wonderful idea of gathering together 50 or so of its members
  to take part in a project called
  = succeed "." do
    %em Holding Back The Years
  The premise of the project was that each member would be assigned a year
  between 1950 and 2007. They would then make a mix CD highlighting what they
  feel were the important works that were released that year. I waited until the
  entire project was completed to begin listening to them, and began listening
  from the beginning. It&rsquo;s been quite an interesting experience on two
  fronts.

%p
  The first is quite obvious. It is a wonderful progression through decades of
  musical progression and styles both here in the US and world wide. Not only do
  you, as a listener, take instant notice of drastic stylistic shifts, but the
  project also highlights the subtle changes and progressions within individual
  genres that take place from year to year.

%p
  The second is a direct result of asking 50+ people, all of whom have strong
  opinions on the topic, to work together to create pieces of a whole. What
  I&rsquo;m referring to is the definite influence that the personal tastes of
  the individual had on the creation of each mix throughout the years. This is
  much more noticeable in the later years than those that are decades old, as
  history has allowed less time for impact, but the fact remains, choosing to
  highlight, say, Ravi Shankar over Buddy Holly is a preferential choice more
  than it is an historical one. And to me as a listener that is just as
  exciting, interpreting the impact of the curator on the collection of songs as
  I do the songs themselves on the year they were released.

%p
  Just like it&rsquo;s no accident that I found my way to design through music,
  it&rsquo;s no coincidence that I could easily replace the subject of this post
  with design itself.  As designers, we too often strive to compromise our own
  input on major collaborative projects to work with those we are collaborating
  with. Unfortunately, in doing so, we sell ourselves, and the project, short.
  What we may gain in a bit of cohesion we exponentially lose in the destruction
  of our own personal voices. In short, as a designer, don&rsquo;t be afraid to
  be led by your own preferences, as those preferences add just as much depth to
  the work you are creating as the images, colors and typefaces you use as well.
