---
title: Finding My Voice One Draft At A&nbsp;Time
date: 2008-05-12
---

%p
  The process of rebuilding the
  = link_to "Love Has No Logic website", "http://lovehasnologic.com/"
  has been, if nothing else, an exercise in patience. It was 2 years of
  rejecting my own designs, 2 months of wire frames, 2 weeks of mocking up, 2
  days of hard coding and far too much time spent copying and pasting content
  from the old site. However, throughout the process, nothing had me more
  nervous than the thought of having to write my own copy.

%p
  A bit of a history lesson before we proceed.   When it comes to word-smithery,
  I struggle. I&rsquo;m great with numbers, great with trivia, great with
  imagery, but words to my mind are like sugar in a gas tank. Throughout my
  school days I&rsquo;d spend a minimum of an hour on any grammar/reading work
  for every 10 minutes spent on science or math. I often times find myself
  fumbling in conversations for the perfect word and end up sounding like a
  = succeed "." do
    = link_to "drunken philosopher", "http://www.urbandictionary.com/define.php?term=philosophical+drunk"
  I make up words and phrases for simple things that I should remember, but
  can&rsquo;t, like the time I called my forearm an arm shin. What the hell was
  I going to do when it came to filling this nifty, new website with all the
  content necessary to make it effective? Sure, I could get by on the blog with
  a conversational tone, but there was still a lot of copy to be written.

%p
  I debated several approaches as the site was under development, but in the end
  decided upon bringing in a &ldquo;professional&rdquo; copywriter and contacted
  my friend
  = link_to "James Smythe", "http://james-smythe.com/"
  (well, the modern day equivalent of a friend, which is to say, he&rsquo;s a
  really awesome dude that I know in persona only as he resides in the UK and we
  know each other through an online music community). I felt fairly comfortable
  about the situation when I got the e-mail back saying James was on board, I
  mean, we see eye to eye on most everything (except his enjoyment of the new
  Delays album, I mean, huh?) and knew he&rsquo;d be able to take what, had I
  written it, would have been surly and bitter and turn it into something
  that&rsquo;s flippantly friendly and a bit tongue-in-cheek. Plus, with the
  backing of his PhD, he&rsquo;d be able to avoid over the top run-on sentences
  like the one I just wrote.

%p
  Still, I was a bit nervous. I had a definite voice that I wanted to resonate
  throughout the site; It was my voice. The same voice I use day in and day out.
  What would happen when I gave up control of that and placed it in the hands of
  someone else, someone with their own creative agenda? I think the hardest
  thing for any creative person to do on work that represents them is to give up
  even a single iota of the creative direction of the project. Nervousness
  firmly expressed, James and I started bouncing ideas and samples back and
  forth and the collaboration began to bloom.

%p
  When I got the first draft of the copy James was putting together it was
  accompanied by a note that said, amongst other things, the prediction that
  there&rsquo;d be plenty of bumps along the way, but that we&rsquo;d nail it on
  draft number 7. I laughed out loud, read through the first draft and sent him
  back my comments. The process continued with a couple drastic changes along
  the way, James offering up ideas, me re-writing complete sections, him fixing
  my horrible grammar and tightening everything up, and then, one day, I read
  the file he sent and heard my voice.

%p
  This was it, the final piece of the puzzle. For the first time throughout the
  copywriting process my nervousness subsided as I read the words that I wish I
  had the ability to say myself. It was as if Bizarro-Mike was living inside my
  Word installation and had typed the words himself.

%p
  It was also draft number seven.
