---
title: From The There To The Here And&nbsp;Now
date: 2008-08-21
description: Don't lose sight of what is right in front of your eyes while looking at the goal. Odds are you won't end up making it there.
tags: problem solving, process
---

%p
  One of the hardest things to notice is when something isn&rsquo;t working out.
  All too often parties working together work with blinders on, only looking
  towards the goal, missing the debris left in their wake. It&rsquo;s all too
  easy to focus on the next step. It&rsquo;s where the glamour is; It&rsquo;s
  the finishing line; It&rsquo;s the payday. The next step isn&rsquo;t
  surrounded by the annoying details of day to day activity. It isn&rsquo;t
  surrounded by mismatched personalities or jackhammers outside the office or a
  hungry stomach that skipped lunch to get there. However, the second you stop
  paying attention to the here and now is when the problems arise. Problems
  don&rsquo;t happen at the next step. They happen now.

%p
  When you turn your focus to the daily tasks you have a much better chance at
  spotting potential problems early. Once you&rsquo;ve done that, you&rsquo;re
  already three quarters of the way to finding the proper solution. Going a step
  further and admitting that the problem exists makes it that much easier to
  realize that the right solution isn&rsquo;t always the best one for you.
