---
title: Healthy Body, Healthy&nbsp;Mind
date: 2009-02-25
---

%p
  If there&rsquo;s one thing that business ownership has done to me, it&rsquo;s
  allowed me to slip back into old (bad) habits not part of my life since
  college. Over the past year I&rsquo;ve found myself slowly slipping into
  irregular schedules, eating poorly and randomly, not going outdoors enough and
  frankly allowing the schedules of our clients dictate my own life schedule.
  And while there are sacrifices that always arise due to a project, I looked
  back and realized I had completely lost control of myself and as a result was
  ensconced in a very unhealthy lifestyle.

%p
  How&rsquo;d I come to this conclusion? I simply looked at the work I put out.
  For months I was unhappy with almost everything I created. I knew it could be
  better, I just couldn&rsquo;t wrap my head around how. I don&rsquo;t want to
  say that I gave up, because that implies that I knew the path, I just
  didn&rsquo;t want to travel it. The situation was more subtle than that. I
  knew that there was a better solution, I just didn&rsquo;t have the free
  mental bandwidth to discover that path. It was quite disheartening, and just
  added to the slow, but steady, downward spiral.

%p
  Additionally, my interactions with colleagues and friends alike had become
  strained. I was arguing more and discussing less. Problems became barriers
  rather than opportunity. Small inconveniences became grounds for major
  confrontations. Neither the quality of my work, nor of my interactions, were
  proper reflections of who I had been just a short year ago.

%p
  Frustrated with myself, I put together a rather strict schedule for myself,
  with just enough flexibility to accommodate the unforeseen circumstances that
  running a design studio brings with it. I began setting my alarm for 7am each
  morning (weekends inclusive). Getting an early start on my day allowed me the
  time to ease myself into each workday and, as in the past, has lead to much
  more energy throughout the day. With more time in my day I&rsquo;ve made a
  conscious effort to start eating much better than I had been, with a small
  breakfast every morning, a modest lunch daily (I&rsquo;ve got an iCal reminder
  so I don&rsquo;t let it slip), and I&rsquo;ve returned to cooking dinner
  almost nightly, adding several recipe blogs to my RSS reader to find new
  recipes and ensuring I&rsquo;m adding many more fruits and vegetables to my
  diet than before.

%p
  With my workday starting earlier, most nights have become remarkably free for
  me to devote my energy back to patching up my strained friendships. I&rsquo;m
  lucky enough to have some quite intelligent and inquisitive people in my life,
  and the newfound emphasis on those friendships has exercised my mind the same
  way that my new, nightly, sit-up and pushup routine are exercising my body.

%p
  After a month I&rsquo;ve seen a remarkable improvement in the quality of my
  work and my life. I&rsquo;ve got more ideas, can execute them much better (and
  quicker). By the end of the day I&rsquo;m not exhausted, allowing me to stay
  active rather than plopping myself in front of the television/xBox. The time
  I&rsquo;m spending in the kitchen is remarkably mind-clearing and I&rsquo;ve
  found myself eating less and enjoying that food exponentially more. Body image
  be damned, this is about happiness. This is about knowing that I&rsquo;m being
  the best that I can be in every part of my life. This is about knowing that
  choices that I&rsquo;m making are not holding me back.

%p
  Throughout my design career it&rsquo;s been to easy to slip into bad habits.
  Late nights at the studio, the pressures of business ownership, stress over
  client pitches, a need to push harder for your best work; It overwhelms you.
  What starts as a one night compromise with yourself quickly becomes routine,
  and routine slowly turns into bad habit.

%p
  Bad habits are hard to kick, but once I broke free I discovered infinite lost
  potential. Take a moment today and find for yourself some small habits that
  have crept into your daily life and take actions to reverse them. One small
  step can have a huge impact on your quality of work and life.
