---
title: Imaginary Distinctions
date: 2008-05-14
description: "'Creative' is an adjective, not a noun. And it's definitely not a job title. It's just as your mother said, we are all creative people waiting for our moment to shine."
tags: collaboration, creative, process
---

%p
  For as off-putting as I find the term &ldquo;Creative&rdquo; when used as a
  job title, I&rsquo;ve found it slipping into my vocabulary with more
  frequency lately. Sure, I can kick myself on the inside, penalizing my
  unconscious mind for it&rsquo;s dastardly deed, but it continues to happen.
  37signals has already
  = link_to "summed up", "http://www.37signals.com/svn/archives2/creatives.php"
  everything that is bad about using the word creative as a job title quite
  wonderfully (as they are apt to do),  but this past week I came across a
  real world example of this that I couldn&rsquo;t help but document.

%p
  After having spent more than 24 hours agonizing a programming component of a
  project currently in progress I had to throw my hands up in defeat. A level of
  code mastery was required for this task that was well beyond what I can bring
  to the table. I put out a call and we brought in a colleague who whipped up a
  solution in less than an hour. The two of us contain completely different
  skill sets, but his ability to wrap his head around functions, competing file
  formats/languages, and information propagation is just as unique and important
  to the overall creative process as is my ability to work with that information
  to present it in a clear and concise manner. And while he may be dubbed with
  the title of &ldquo;programmer&rdquo; and I may be dubbed with the title of
  &ldquo;creative professional&rdquo; the fact of the matter is that the
  creative process would fail miserably without the two of us working together
  creating solutions to the problems directly in front of us.
