---
title: Like Stretch Armstrong On&nbsp;Crack
date: 2008-12-17
description: If this week has taught me one thing, it's that flexibility is the most important virtue of keeping things running smoothly.
tags: flexibility
---

%p
  If this week has taught me one thing, it&rsquo;s that flexibility is the most
  important virtue of keeping things running smoothly. Halfway through the week
  I&rsquo;ve yet to do a single thing on the week&rsquo;s to do list while also
  having done more than I expected to do for the rest of the year. This ability
  to adapt at a moment&rsquo;s notice is why small studios will always be able
  to outflank their larger colleagues.
