---
title: Some Things Never Change
date: 2013-03-23
---

%p
  The last time we did a major redesign of this site was in 2007. It worked
  great at the time, but as the web changed, so did the needs of our site. Our
  markup showed its age, the site didn&rsquo;t adapt to the variety of devices
  that were accessing it, and though we thought we set up the CMS to fit our
  needs, as time went on, we found it only discouraged us from keeping the site
  up to date. In late 2011 we began work to rebuild the site from the ground up
  using everything we learned about our business over the previous four years.

%p
  As any studio owner can attest, some of the hardest work you do is the work
  you do for yourself. You tend to be over-critical, and when you mix that with
  the needs of paying clients, a week quickly becomes a month and a month
  quickly becomes a year and you find that the longer it all drags out, the
  worse it gets. In fact, in the site&rsquo;s earliest blog entry I touched on
  that very point. It should have been no shock to me that history repeated
  itself. This site really didn&rsquo;t come together until I declared a
  self-imposed deadline and worked overtime to achieve it.

%figure
  = image_tag "assets/images/writing/lhnl-3-screenshot.png", width: 2004, height: 1564

%p
  So, here it is, version 3 of the Love Has No Logic website. I&rsquo;d say it
  was far too long in coming but that would dismiss all the decisions that led
  to its crafting along the way and all the bad design choices that eventually
  helped us correct our paths.
