---
title: The Launch Is Only The&nbsp;Beginning
date: 2013-04-09
description: We build websites. A mistake can be fixed with the tap of a finger. Why are we still using a process that encourages permanence? Seriously, it's crazy town and we're the mayors.
tags: flexibility, process
---

%p
  I began my love of design in front of a copying machine with some glue and a
  pair of scissors, but I started my design career in the rows of cubicles at a
  major publisher in NYC. Our final product was a warehouse full of paper and
  ink and a mistake was expensive to correct. That&rsquo;s why we spent weeks at
  the end of production meticulously proofing every file that was going to the
  printer &mdash; the cost for all of our salaries was less than scrapping an
  entire print run. Like it or not, that experience has influenced my work
  practices every day since.

%p
  But, wait a second, times have changed. We build websites now. We&rsquo;re not
  creating a warehouse full of books. A mistake can be fixed with the tap of a
  finger and a new direction can be conceived and prototyped in an afternoon.
  Why are we still using a process that encourages permanence? I still see loads
  of designers and developers and clients and studios enforcing a waterfall
  approach to web development. &ldquo;Sprint on section A, get sign off. Sprint
  on section B, get sign off. Sprint on section C, what? No sign off? We
  can&#x27;t go back to section A.&rdquo; Seriously, it&#x27;s crazy town and
  we&rsquo;re the mayors.

%p
  You have been hired by your client for your expertise. You know how to build
  websites; they don&rsquo;t. Stop steering them in the wrong direction. How do
  we get off this path? It&#x27;s pretty simple, really. Embrace the
  impermanence of what we&rsquo;re doing. At the beginning of a project you need
  to sit down with the entire project team and clarify a firm strategy. Use that
  as your roadmap for every decision that will follow in the months to come.
  Once you&rsquo;ve got the strategy, you&rsquo;ve got your roadmap. Use it to
  determine what you need to know to get to the next checkpoint. Once there,
  look at your map and ask, &ldquo;What&rsquo;s next?&rdquo;

%p
  &ldquo;Alright, that sounds pretty much like waterfall development,
  yeah?&rdquo; You&#x27;re right. But, here&rsquo;s the thing, eventually
  you&rsquo;re going to show something to your team and there is going to be
  disagreement. It may between you and your client. It may be between you and a
  co-worker. It may be between the client&rsquo;s CEO and their project lead.
  However it happens, the gears will try to come to a grinding halt.
  This is where we, as
  %em web
  designers need to take control. We frame the argument in the context of our
  over-arching roadmap. We only let the discussion relate to our goals. We come
  to a solution and then we get to the most important part of the process
  &mdash; the key to changing the ways we&rsquo;ve done everything wrong in the
  past.

%p
  When there&rsquo;s a disagreement and we come to a solution, as educated as it
  may be, it&rsquo;s simply a guess. We admit this to the entire room. We look
  at the pros of the ideas that weren&rsquo;t chosen and determine how we can
  test our assumptions. Then we inform the client that we have reached the point
  of diminishing returns and let them know we&rsquo;ve got a resolution and we
  need to get rolling again. But, this is not permanent. We&rsquo;re all taking
  notes, we&rsquo;re going to test and even though their last site hadn&rsquo;t
  been updated since 2002, as soon as we see a better solution as a result of
  testing and feedback, we&rsquo;ll be able to implement it quickly. Don&rsquo;t
  just tell them&hellip;convince them. Their last designer told them the same
  thing. You need to tell them why this time will be different. More
  importantly, you need to follow through. When you don&rsquo;t, you give us all
  a bad name.

%p
  The first time this happens will be the hardest to get through. Clients like
  writing checks and getting something in return. They want diamonds and
  initally we are selling them sandstone. But all you need to do is remind them
  that diamonds are forever, even the flawed ones, and they can update their
  website with a few strokes of a keyboard.
