---
title: The Differences Between Day &&nbsp;Night
date: 2008-05-29
description: Sometimes your design decisions can be too clever for their own good. When the decisions come with a $300,000 price tag, then you jumped into the land of ridiculousness.
tags: clever, simplicity
---

%p
  I&rsquo;ve spent most of the day catching up on the
  = link_to "best radio show still shooting through the airwaves", "http://www.npr.org/programs/waitwait/"
  and I almost snapped my neck in a double take when I heard about a new
  $300,000 watch that only tells you whether it&rsquo;s day or night. A quick
  Google search pulled up this&hellip;

%blockquote
  %p
    With no display for the hours, minutes or seconds the Day&amp;Night offers a
    new way of measuring time, splitting the universe of time into two
    fundamentally opposing sections: day versus night. A new interpretation of
    Time based around two Tourbillons operating sequentially. The Day Tourbillon
    operates during the day, defining the wearer&rsquo;s period of activity, and
    stops after twelve hours, handing over to the Night Tourbillon dedicated to
    man&rsquo;s own private sphere. An avant-garde approach, that is different
    and even disturbing. Surely the ultimate luxury would be to take
    one&rsquo;s time?

%p
  No, surely the ultimate luxury would be to frivolously fritter away money on
  manufactured luxury items that hide their lack of cleverness behind
  %em exciting
  and
  %em mystical
  marketing materials. Craftsmanship is one thing, and looking at this watch, it
  is most assuredly a work of art. The detail that went into its creation is
  obvious. But, that attention to detail is all for naught if the functionality
  of the piece is non-existent. That this watch can&rsquo;t tell you what time
  of the day it is, even within an hour of accuracy, trumps all the the visual
  and technical appeal that it brings to the table.

%p
  Contrast this with the
  = succeed "." do
    = link_to "&lsquo;It&rsquo;s About Time&rsquo; clock", "http://www.aboutcolonblank.com/2007/09/27/the-its-about-time-clock/"
  Both use a similar concept, that the exact time is most often not a necessity.
  However, where the &lsquo;Day &amp; Night&rsquo; watch abstracts this concept
  to the point of uselessness, the &lsquo;It&rsquo;s About Time&rsquo; clock
  moves beyond the concept, getting at the heart of the question, &ldquo;What
  time is it?&rdquo; and becomes a conversation piece in the process. As in all
  design, it&rsquo;s the ability to solve the problem that is important, not the
  fancy sheen applied to the answer.
