---
title: What, Me&nbsp;Worry?
date: 2008-12-19
---

%p
  Last week
  = link_to "Whitney Hess", "http://whitneyhess.com/blog/"
  posted a simple
  = link_to "tweet", "http://twitter.com/whitneyhess/status/1060971977"
  that caught my attention:

%blockquote.quote
  .quote__text
    %p There is no recession for confident consultants
  %cite.quote__citation
    Whitney Hess,
    = link_to "http://twitter.com/whitneyhess/status/1060971977", "http://twitter.com/whitneyhess/status/1060971977"

%p
  What was a quick scroll through my unread tweets quickly became a moment of
  pause. The sheer truth contained in so few words bowled me over and it got me
  thinking about the past half year.

%p
  Right about the time of AIG&rsquo;s collapse was the first time I ever had a
  proposal rejected due to budgetary concerns. It was also the first time in my
  life that the volume-rich blathering filling up the nightly news had a
  concrete and very real relationship with my own life. Worry began to creep in
  as September came to an end, but I carried on, and soon thereafter we got our
  first post-bailout RFP.

%p
  As I sat crunching the numbers putting the document together that worry
  manifested itself as fear. Should I cut that number in half? Should we be
  delivering twice as much? These are hard times after all. At the end of the
  day I pushed those thoughts aside, used the same process I always use when
  filling out proposals, and sent it off.

%p
  We ended up losing out on that job as well, which was disappointing for sure,
  but that disappointment quickly fled as October and November saw more
  RFP&rsquo;s come in than we got the entire rest of the year. This sure was
  some silly recession that was going around.

%p
  Some spec&rsquo;s were a perfect fit while others had the budget of a second
  grade play. Some jobs we coveted in ways that would send us to hell while
  others were laughably vague (and worrisome). The common thread was that they
  kept coming in, day after day. If these were supposed to be hard times, then
  those hard times were going to be in our own hands.

%p
  As the year wraps up and I look back on these past few months, I see jobs that
  we didn&rsquo;t win and I wish we would have. I see jobs that we bid on when
  we shouldn&rsquo;t have wasted our time. I see jobs that I was unsure about,
  but am now ecstatic to be a part of. I see proposals where we were the
  cheapest of the bunch and lost, and proposals where we were the most expensive
  and won.

%p
  And that brings me back to the simple tweet I read last week. &ldquo;There is no
  recession for confident consultants&rdquo;. The opportunity is plentiful. The
  economy may be having an effect on the details, but there&rsquo;s just as many
  opportunities available today as there were last July. As budgets begin to
  tighten up it&rsquo;s your confidence that will separate your proposal from
  the rest. You&rsquo;re not going to win them all, but as long as the
  RFP&rsquo;s continue to roll in the recession can go back to just something
  you hear about on the nightly news.
