---
title: When Bad Things Happen To Good&nbsp;Computers
date: 2008-06-25
description: There comes a time in your life when you're happy that you held onto that 7 year old computer.
tags: hardware
---

%p
  I often get asked, &ldquo;;Why do you have six computers?&rdquo; While my
  previous answer has been, &ldquo;Why get rid of them when I can put them to a
  new use,&rdquo; my new answer will surely become, &ldquo;Six? I think you mean
  five.&rdquo; That&rsquo;s right, one of my machines up and bit the dust last
  night, my 20&quot; iMac G5.

%p
  It isn&rsquo;t a huge loss as it&rsquo;s a secondary machine, serving up my
  IRC and iChat conversations throughout the day, hosting some of the networked
  media files and offering it&rsquo;s screen as a place to test the sites I
  build in a non-color-profiled situation. Most everything on the machine that
  was of any importance has been backed up and moved to my main system with
  nightly builds, and it was purchased second hand to help out in the gap
  between my ancient Quicksilver and my recently purchased MacPro. However,
  there was one moment of freak out when I realized the logic board was dead,
  and with it, the computer was borked, and that came with the realization that
  I had been using it for all the material associated with a project I&rsquo;m
  working on that required the use of InDesign CS. Not only was it the only
  machine that had the first version of the Adobe Creative Suite installed, but
  I had also not backed those work files up in about a week and a half, and
  I&rsquo;ve been busily cracking away on those files daily.

%p
  That&rsquo;s where my inability to part with technology came to the rescue. My
  old Quicksilver, that is now pulling duty as a media center hub in the
  bedroom, had been upgraded with an SATA card. Instead of freaking out, I
  simply opened the iMac, pulled out the drive, plugged it into the Quicksilver
  and copied the files over the network. Rather than losing 50+ hours of work
  (and a few other things I realized weren&rsquo;t backed up) I lost about 40
  minutes of my time opening up machines ad copying files around.

%p
  So now, when asked the question about the fact that there are more than 2
  computers for everyone that lives here, not only can I cite the environmental
  impact of keeping the computers out of the trash, but I can also cite the
  project-saving abilities associated with having an overwhelming amount of
  computers at your disposal.
