---
title: When No Means Yes
date: 2008-09-16
---

%p
  The dilemma most designers face on a regular basis, especially with the
  economy receding into it&rsquo;s shell as it is at the moment, is how to deal
  with an RFP that includes &ldquo;on-spec&rdquo; design submissions. This is
  made all the worse when the RFP is from a client you highly respect and would
  do most anything to work with.

%p
  Recently I found myself in just that situation, and my first instinct was to
  quickly reply with a simple, &ldquo;Sorry, but we don&rsquo;t do spec work.
  Thanks for your time and good luck with the project.&rdquo; However, the
  problem with that response was that someone else would be working on the
  project and I couldn&rsquo;t let that happen. So, I clicked the &ldquo;Save as
  Draft&rdquo; button, walked over to the waterfront and analyzed my options
  while watching tugboats pull barges 25 times their size down the river, out to
  the bay. After stewing things over, watching the sunset and grabbing a cup of
  evening coffee on the way back to the office, I had my solution.

%p
  The trick to responding &ldquo;no&rdquo; in any situation is to not just spit
  out a single syllable and wait for a reaction, but rather to follow the
  &ldquo;no&rdquo; up with the reasoning that makes your &ldquo;no&rdquo; better
  than any &ldquo;yes&rdquo; that could have been supplied. I opened up that
  draft I had typed up, wiped the slate clean and started again. Here is the
  opening of the response I eventually sent their way:

%blockquote
  %p
    Hey (prospective client). Thank you for the response. As for design comps up
    front, as much as we would love the opportunity to work with you guys, we
    can&rsquo;t do work on spec. We&rsquo;re hoping that this isn&rsquo;t a
    sticking point. What we can do though is give our thoughts on some of your
    competitors and where we think they succeed and fail, relating it back to
    the project at hand, which will give you a better sense of how we will
    approach the project and provide a nice framework for our discussions as we
    move forward with the planning of the site.

%p
  I followed that up with our proposal and in the proposal included an analysis
  of all of their competitors, what worked, what didn&rsquo;t, how each of these
  related to their own project and what we would do to make their site better.
  (NOTE: With large budget projects, this is almost always included in the RFP,
  but is often overlooked with smaller clients). I also included a login to our
  testing server so they could get a first hand look at the admin system for the
  CMS we&rsquo;d be using to maintain their site and wrapped it all up with my
  thoughts that this discussion we were beginning to engage in was far more
  important than any superficial design comps we could through together the
  following morning for them.

%p
  I think it&rsquo;s no coincidence that not only did we land the job, but were
  also the only studio to not supply spec designs with our proposal. I took a
  stand that not only valued the work we did, but offered an alternative that
  provided more value to the client. Whether you&rsquo;re a freelancer or work
  in a 75 person studio, when you can do that you&rsquo;ll land the job every
  time.
