---
title: Writer
layout: writing
---

%header.article__header
  %h1.article__title= current_page.data.title
%nav.listNav
  %ul.listNav__list
    - blog("writing").articles.each do |article|
      %li.listNav__item
        = link_to article.url, class: "listNav__link" do
          = article.title
          %time.listNav__secondary{ datetime: article.date.strftime('%F') }= article.date.strftime("%B '%y")
