// -----------------------------------------------------------------------------
// Table of Contents
//
// - Extends
// - Unordered Lists
// - Ordered Lists
// - Definition Lists
// - List Variants
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%lists {
  .article > & {
    @include scut-margin(1.5em 0);

    ul,
    ol {
      margin-left: 1.75em;
    }

    li {
      margin: .5em 2em .5em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// !-- Unordered Lists
// -----------------------------------------------------------------------------

ul {
  @extend %lists;
}

// -----------------------------------------------------------------------------
// !-- Ordered Lists
// -----------------------------------------------------------------------------

ol {
  @extend %lists;
}

// -----------------------------------------------------------------------------
// !-- Definition Lists
// -----------------------------------------------------------------------------

dl {
  // List Container
}

dt {
  // Definition Term

  + dt {
    // Add styles for stacked, multiple terms
  }
}

dd {
  // Definition Description

  + dd {
    // Add styles for stacked, multiple descriptions
  }

  + dt {
    // Works as a "last-child" selector between the last definition and the
    // next term
  }
}
