// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Extends
//  - Unordered Lists
//  - Ordered Lists
//  - Definition Lists
//  - List Variants
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%lists {
  .article > & {
    @include scut-margin(1.5em 0);

    ul,
    ol {
      margin-left: 1.75em;
    }

    li {
      margin: .5em 2em .5em 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// -----------------------------------------------------------------------------
// !-- Unordered Lists
// -----------------------------------------------------------------------------

ul {
  @extend %lists;
}

// -----------------------------------------------------------------------------
// !-- Ordered Lists
// -----------------------------------------------------------------------------

ol {
  @extend %lists;
}

// -----------------------------------------------------------------------------
// !-- Definition Lists
// -----------------------------------------------------------------------------

dl {
  @extend %group;
  margin: 0 0 1em;
}

dt {
  font-weight: map-get($fontWeight, bold);
  display: inline-block;
  float: left;
  clear: both;

  &:after {
    margin-right: .25em;
    content: ":";
  }
}

dd {
  overflow: hidden;
}
