// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Images
//
//  NOTES:
//  [1] For Image lazy loading, we add a tiny bit of CSS to handle pre-/post-
//      loaded images. This CSS ensures that pre-loaded images aren't visible
//      (remove the missing Image X from the page) and then fade in smoothly
//      once loaded.
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Images
// -----------------------------------------------------------------------------

img {
  // [1]
  &[data-original] {
    transition: .25s opacity ease-in-out;
    opacity: 0;

    &.is--loaded {
      opacity: 1;
    }
  }
}

.figure--bleed {
  margin-left: 50% !important;
  transform: translateX(-50%);
  width: 100vw !important;
  max-width: none !important;

  img {
    width: 100% !important;
  }
}

.figure--tight {
  margin-top: -(map-get($gutter, tight)) !important;

  @media #{map-get($bp--up, 3)} {
    margin-top: -(map-get($gutter, standard)) !important;
  }
}
