// -----------------------------------------------------------------------------
// Table of Contents
//
// - Extends
// - Headings
// - Paragraphs
// - Inline Elements
// - Time
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%hN {
  // Shared styles amongst all headings
  zoom: 1; // Remove Me

  a {
    // Shared styles for all links inside headings
  }
}

// -----------------------------------------------------------------------------
// !-- Headings
// -----------------------------------------------------------------------------

// class, size, color, weight, uppercase(true|false)
$sizes:
    scale--0 2.5em map-get($fontWeight, heading) false
  , scale--1 2.25em map-get($fontWeight, heading) false
  , scale--2 2em map-get($fontWeight, heading) false
  , scale--3 1.8em map-get($fontWeight, heading) false
  , scale--4 1.6em map-get($fontWeight, heading) false
  , scale--5 1.4em map-get($fontWeight, heading) false
  , scale--6 1.2em map-get($fontWeight, heading) true
  , scale--7 1em map-get($fontWeight, heading) true;

@each $scale in $sizes {
  .#{nth($scale, 1)} {
    font-size: #{nth($scale, 2)};
    font-weight: #{nth($scale, 3)};

    @if nth($scale, 4) {
      text-transform: uppercase;
    }
  }
}

@each $heading in 1 2 3 4 5 6 {
  h#{$heading} {
    @extend .scale--#{$heading};
    @extend %hN;
  }
}

.heading--strip {
  @include headingFont;
  line-height: 1;
  padding: map-get($gutter, tight);
  text-align: center;

  @media #{map-get($bp--up, 4)} {
    @include headingFont(32);
  }

  .block & {
    margin: map-get($gutter, tight) * -1;

    @media #{map-get($bp--up, 2)} {
      @include scut-margin(n (map-get($gutter, standard) * -1));
    }

    @media #{map-get($bp--up, 3)} {
      margin-bottom: map-get($gutter, standard);
    }
  }

  #designer & {
    color: map-get($color, knockout);
    background: map-get($block, bg--designer__title);
  }

  #writer & {
    background: map-get($block, bg--writer__title);
  }

  #builder & {
    color: map-get($color, knockout);
    background: map-get($block, bg--builder__title);
  }
}

// -----------------------------------------------------------------------------
// !-- Paragraphs
// -----------------------------------------------------------------------------

p {
  font-size: 1em;
  margin: 0;
}

// -----------------------------------------------------------------------------
// !-- Inline Elements
// -----------------------------------------------------------------------------

strong,
b {
  // Placeholder
}

em,
i {
  // Placeholder
}

u {
  // Placeholder
}

del,
s {
  // Placeholder
}

ins {
  // Placeholder
}

sup {
  // Placeholder
}

sub {
  // Placeholder
}

small {
  // Placeholder
}

mark {
  // Placeholder
}

code {
  // Placeholder
}

cite {
  // Placeholder
}

// -----------------------------------------------------------------------------
// !-- Time
// -----------------------------------------------------------------------------

time {
  // Placeholder
}
