// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Extends
//  - Headings
//  - Paragraphs
//  - Blockquotes
//  - Code
//  - Inline Elements
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%hN {
  font-family: $sansSerif;
  font-weight: map-get($fontWeight, heavy);
  line-height: 1.2;
  margin: 1em 0 0;

  .wf-utopiastdheadline-n4-active & {
    font-family: $headings;
    font-weight: map-get($fontWeight, heading);
  }

  &:first-child {
    margin-top: 0;
  }
}

// -----------------------------------------------------------------------------
// !-- Headings
// -----------------------------------------------------------------------------

//  class,   size
$sizes:
    scale--1 2.25em
  , scale--2 2em
  , scale--3 1.8em
  , scale--4 1.6em
  , scale--5 1.4em
  , scale--6 1.2em;

@each $scale in $sizes {
  .#{nth($scale, 1)} {
    font-size: #{nth($scale, 2)};
  }
}

@each $heading in 1 2 3 4 5 6 {
  h#{$heading} {
    @extend .scale--#{$heading};
    @extend %hN;
  }
}

.heading--strip,
.heading--strip:first-child {
  @extend %bleed--title;
  @include headingFont;
  line-height: 1;
  max-width: none !important; // Force bleed
  padding: map-get($gutter, tight);
  text-align: center;

  @media #{map-get($bp--up, 4)} {
    @include headingFont(32);
  }

  // scss-lint:disable IdSelector
  #designer &,
  .design & {
    color: map-get($color, knockout);
    background: map-get($block, bg--designer__title);
  }

  #writer & {
    background: map-get($block, bg--writer__title);
  }

  #builder & {
    color: map-get($color, knockout);
    background: map-get($block, bg--builder__title);
  }
  // scss-lint:enable IdSelector

  .block--bleed & {
    margin: 0;
  }
}

// -----------------------------------------------------------------------------
// !-- Paragraphs
// -----------------------------------------------------------------------------

p {
  font-size: 1em;
  margin: 0;
}

.p--note {
  @include scut-margin(1em auto);
  font-size: .75em;
  box-sizing: content-box;
  padding: .5em 1em;
  border-radius: .25em;
  background: transparentize(map-get($body, color), .9);
}

// -----------------------------------------------------------------------------
// !-- Blockquotes
// -----------------------------------------------------------------------------

blockquote {
  clear: both;
  margin: 1em auto;
  padding: 0 .75em;
  color: lighten($gray, 25%);
  border-left: 5px solid lighten($gray, 25%);
}

// -----------------------------------------------------------------------------
// !-- Code
// -----------------------------------------------------------------------------

pre {
  font-family: "Iconsolata", "Iconsolata-dz", "Consolas", monaco, monospace;
  font-size: .75em;
  overflow-x: scroll;
  box-sizing: content-box;
  margin: 1em auto;
  padding: 1em;
  border: map-get($borderWidth, thin) solid $gray--light;
  border-radius: .25em;
  background: $white;
}

// scss-lint:disable all
.highlight {
// GitHub style for Pygments
// Courtesy of GitHub.com
  .hll {
    padding: 6px 10px;
    border: map-get($borderWidth, thin) solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
  }

  .ge {
    font-style: italic;
  }

  .k,
  .o,
  .gs,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
  .ow {
    font-weight: bold;
  }

  .gd,
  .gd .x,
  .gi,
  .gi .x {
    color: #000;
  }

  .m,
  .il,
  .mf,
  .mh,
  .mi,
  .mo {
    color: #099;
  }

  .gp,
  .nn {
    color: #555;
  }

  .bp,
  .gc,
  .gh {
    color: #999;
  }

  .gr,
  .gt {
    color: #a00;
  }

  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .s1 {
    color: #d14;
  }

  .na,
  .no,
  .nv,
  .vc,
  .vg,
  .vi {
    color: teal;
  }

  .c,
  .c1 {
    font-style: italic;
    color: #988;
  }

  .kt,
  .nc {
    font-weight: bold;
    color: #458;
  }

  .ne,
  .nf {
    font-weight: bold;
    color: #990000;
  }

  .nb {
    color: #0086b3;
  }

  .sr {
    color: #009926;
  }

  .n {
    color: #333;
  }

  .go {
    color: #888;
  }

  .ss {
    color: #990073;
  }

  .err {
    color: #a61717;
  }

  .w {
    color: #bbb;
  }

  .nt {
    color: navy;
  }

  .ni {
    color: purple;
  }

  .gu {
    font-weight: bold;
    color: #800080;
  }

  .cm {
    font-style: italic;
    color: #998;
  }

  .cp {
    font-weight: bold;
    color: #999;
  }

  .cs {
    font-weight: bold;
    font-style: italic;
    color: #999;
  }
}
// scss-lint:enable all

// -----------------------------------------------------------------------------
// !-- Inline Elements
// -----------------------------------------------------------------------------

strong,
b {
  font-weight: map-get($fontWeight, bold);
}

em,
i {
  font-style: italic;
}
