// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Extends
//  - Container
//  - Typography
//  - Header
//  - Footer
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Extends
// -----------------------------------------------------------------------------

%constrain {
  @include scut-margin(n auto);
  max-width: 1000px;
}

// -----------------------------------------------------------------------------
// !-- Container
// -----------------------------------------------------------------------------

.article {
  font-size: vw(25, map-get($bp, 1));
  line-height: 1.4;

  @media #{map-get($bp--only, 2)} {
    font-size: vw(18, map-get($bp, 1));
  }

  @media #{map-get($bp--up, 3)} {
    font-size: rem(28);
    line-height: 1.55;
  }

// -----------------------------------------------------------------------------
// !-- Typography
// -----------------------------------------------------------------------------

  p,
  .p--note {
    @extend %constrain;

    + p {
      text-indent: 1.5em;
    }
  }

  > p { // only drop cap direct children
    // scss-lint:disable NestingDepth
    &:first-of-type {
      &:first-letter {
        @include headingFont;
        font-size: 3em;
        line-height: 1;
        float: left;
        margin: 0 .05em (-.1em) 0;

        @media #{map-get($bp--up, 3)} {
          font-size: 3.3em;
        }
      }
    }
    // scss-lint:enable NestingDepth
  }

  a {
    color: map-get($link, color);

    &:hover,
    &:focus {
      color: map-get($link, hover);
    }
  }

  h1,
  h2,
  h3 {
    @extend %constrain;
  }

  > ul,
  > ol,
  > dl {
    @extend %constrain;
  }

  pre {
    @extend %constrain;
  }

  blockquote {
    @extend %constrain;
    box-sizing: content-box;
  }

  figure {
    @extend %constrain;
    @include scut-margin(1em n);
  }

  img {
    .writing & {
      border: map-get($borderWidth, thin) solid $gray--light;
    }
  }

  figcaption {
    font-size: .8em;
    font-style: italic;
    text-align: center;
    opacity: .5;
  }

  .is--right,
  .is--left {
    width: 100%;

    @media #{map-get($bp--only, 1)} {
      @include scut-margin(n auto);
    }

    @media #{map-get($bp--only, 2)} {
      width: 50%;
    }

    @media #{map-get($bp--up, 3)} {
      width: 40%;
    }

    img {
      @include scut-margin(n auto);
      display: block;
    }
  }

  .is--right {
    @media #{map-get($bp--up, 2)} {
      margin: 0 0 (map-get($gutter, tight)/2) (map-get($gutter, tight)/2);
    }

    @media #{map-get($bp--up, 4)} {
      margin: 0 0 map-get($gutter, tight) map-get($gutter, tight);
    }
  }
}

.quote__citation {
  font-size: .75em;
  font-weight: map-get($fontWeight, bold);
  font-style: italic;
  display: block;
  text-align: right;

  &:before {
    content: "\2014";
  }
}

// -----------------------------------------------------------------------------
// !-- Header
// -----------------------------------------------------------------------------

.article__header {
  @extend %bleed--title;

  font-size: vw(20, map-get($bp, 1));
  line-height: 1.4;
  padding: map-get($gutter, tight);
  text-align: center;

  @media #{map-get($bp--only, 2)} {
    font-size: vw(16, map-get($bp, 1));
  }

  @media #{map-get($bp--up, 3)} {
    font-size: rem(32);
    line-height: 1.55;
    margin-bottom: map-get($gutter, standard);
  }

  .writing & {
    background: map-get($block, bg--writer__title);
  }

  .design & {
    color: map-get($color, knockout);
    background: map-get($block, bg--designer__title);
  }
}

.article__title {
  line-height: 1.1;
  max-width: none !important;
  margin: 0;
}

.article__subtitle {
  @include bodyFont;
  font-size: 1em;
  display: inline-block;
  margin-top: .5em;
  padding: .5em .5em 0;
  text-align: center;
  text-transform: capitalize;
  border-top: map-get($borderWidth, thin) solid map-get($body, color);

  .design & {
    border-top-color: map-get($color, knockout);
  }
}

// -----------------------------------------------------------------------------
// !-- Footer
// -----------------------------------------------------------------------------

.article__footer {
  @extend %constrain;
  @include scut-margin(3em n 1.5em);
  font-size: .75em;
  clear: both;
  box-sizing: content-box;
  padding: .5em 1em;
  border-radius: .25em;
  background: $offWhite;

  .writing & {
    background: map-get($body, bg);
  }

  dl {
    margin: 0;
  }
}

.article__tag {
  float: left;
  white-space: nowrap;

  &:after {
    margin-right: .25em;
    content: ",";
    text-decoration: none;
    color: map-get($body, color);
  }

  &:last-child {
    &:after {
      display: none;
      content: "";
    }
  }
}
