// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Variables
//  - Extends
//  - Shared
//  - Text
//  - Writer
//  - Builder
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Text
// -----------------------------------------------------------------------------

.block {
  padding: map-get($gutter, tight);

  @media #{map-get($bp--up, 2)} {
    @include scut-padding(n map-get($gutter, standard));
  }

  @media #{map-get($bp--up, 3)} {
    @include scut-padding(map-get($gutter, standard) n);
  }

  .writing & {
    background: map-get($block, bg--writer);
  }
}

.block--related {
  h3 {
    margin: 0 0 1em;
  }

  .writing & {
    background: map-get($body, bg);
  }
}

// -----------------------------------------------------------------------------
// !-- Writer
// -----------------------------------------------------------------------------

// scss-lint:disable IdSelector
#writer {
  background: map-get($block, bg--writer);
}

// -----------------------------------------------------------------------------
// !-- Builder
// -----------------------------------------------------------------------------

#builder {
  padding-bottom: map-get($gutter, standard);
  color: map-get($color, knockout);
  background: map-get($block, bg--builder);
}
// scss-lint:enable IdSelector
