// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Variables
//  - Extends
//  - Shared
//  - Text
//  - Designer
//  - Writer
//  - Builder
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Text
// -----------------------------------------------------------------------------

.block {
  padding: map-get($gutter, tight);

  @media #{map-get($bp--up, 2)} {
    @include scut-padding(n map-get($gutter, standard));
  }

  @media #{map-get($bp--up, 3)} {
    padding-bottom: map-get($gutter, standard);
  }

  .writing & {
    background: map-get($block, bg--writer);
  }
}

.block--related {
  h3 {
    margin: 1em 0;
  }

  .writing & {
    background: map-get($body, bg);
  }
}

// -----------------------------------------------------------------------------
// !-- Designer
// -----------------------------------------------------------------------------

// scss-lint:disable IdSelector
#designer {
  .listNav {
    padding: 0 map-get($gutter, tight) map-get($gutter, tight);

    @media #{map-get($bp--up, 2)} {
      @include scut-padding(n map-get($gutter, standard));
    }

    @media #{map-get($bp--up, 3)} {
      padding-bottom: map-get($gutter, standard);
    }
  }
}

// -----------------------------------------------------------------------------
// !-- Writer
// -----------------------------------------------------------------------------

#writer {
  background: map-get($block, bg--writer);
}

// -----------------------------------------------------------------------------
// !-- Builder
// -----------------------------------------------------------------------------

#builder {
  padding-bottom: map-get($gutter, standard);
  color: map-get($color, knockout);
  background: map-get($block, bg--builder);
}
// scss-lint:enable IdSelector
