.cover {
  background-color: $gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .is--loaded & {
    background-image: image_url("assets/images/bg/eyes.png");
    background-size: cover;
    background-position: 50% 50%;
  }
}

.cover__title {
  font-family: $serif;
  color: $white;
  font-weight: map-get($fontWeight, heavy);
  font-size: vw(56px, map-get($bp, 1));

  .wf-utopiastdheadline-n4-active & {
    font-family: $headings;
    font-weight: map-get($fontWeight, heading);
  }
}

.cover__nav {
  font-family: $sansSerif;
  font-weight: map-get($fontWeight, normal);

  .wf-ffmetawebpro-n4-active & {
    font-family: $display;
  }

  ul {
    @include scut-list-inline;
  }

  a {
    padding: .25em 1em;
    color: $white;
    text-decoration: none;
    font-size: vw(32px, map-get($bp, 1));
    display: block;

    @media #{map-get($bp--up, 2)} {
      font-size: vw(18px, map-get($bp, 1));
    }

    @media #{map-get($bp--up, 5)} {
      font-size: vw(28px, map-get($bp, 4));
    }
  }
}

.navSocial {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1em;

  @media #{map-get($bp--up, 3)} {
    margin: 2em;
  }
}

.navSocial__list {
  @include scut-list-inline;
}

.navSocial__link {
  transition: opacity .2s ease-in-out;
  color: $white;
  display: block;
  padding: .25em 1em;
  opacity: .75;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.navSocial__icon {
  width: 24px;
  height: 24px;
}
