// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Variables
//  - Container
//  - Text
//  - Navigation
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Container
// -----------------------------------------------------------------------------

.cover {
  background-color: map-get($cover, bg);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .is--loaded & {
    background-image: image_url("assets/images/bg/eyes.png");
    background-size: cover;
    background-position: 50% 50%;
  }
}

// -----------------------------------------------------------------------------
// !-- Text
// -----------------------------------------------------------------------------

.cover__title {
  @include headingFont;
  color: map-get($color, knockout);
}

// -----------------------------------------------------------------------------
// !-- Navigation
// -----------------------------------------------------------------------------

.cover__nav {
  @include bodyFont;

  ul {
    @include scut-list-inline;
  }

}

.cover__link {
  transition: map-get($transition, standard);
  padding: .25em 1em;
  color: map-get($color, knockout);
  text-decoration: none;
  font-size: vw(32px, map-get($bp, 1));
  display: block;

  .cover__nav:hover & {
    opacity: map-get($cover, opacity);

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  @media #{map-get($bp--up, 2)} {
    font-size: vw(18px, map-get($bp, 1));
  }

  @media #{map-get($bp--up, 5)} {
    font-size: vw(28px, map-get($bp, 4));
  }
}



