// -----------------------------------------------------------------------------
// Table of Contents
//
// - Byline
// - Address
// - Heading Group
// - Blockquote/Citation
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Byline
// -----------------------------------------------------------------------------
/*doc
---
title: Byline
name: byline
category: Molecules - Text
---
```haml_example
%p.byline
  Jim Jones
  %time{ datetime: "1969-01-01" } January 1st, 1969
```
*/
// -----------------------------------------------------------------------------

.byline {
  // Placeholder
}

// -----------------------------------------------------------------------------
// !-- Address
// -----------------------------------------------------------------------------
/*doc
---
title: Address
name: address
category: Molecules - Text
---
```haml_example
.mailingAddress
  .mailingAddress__person{ itemscope: true, itemtype: "http://schema.org/Person" }
    %span{ itemprop: "name" } Jim Jones
  .mailingAddress__org{ itemscope: true, itemtype: "http://schema.org/Organization" }
    %span{ itemprop: "name"} Widget Incorporated

  %address.mailingAddress__address{ itemprop: "address", itemscope: true, itemtype: "http://schema.org/PostalAddress" }
    %span{ itemprop: "streetAddress" }
      123 Anywhere Dr.
      Suite #45
    %span{ itemprop: "addressLocality"} Seattle
    %span{ itemprop: "addressRegion"} WA
    %span{ itemprop: "postalCode"} 98052

  .mailingAddress__contact
    %span{ itemprop: "telephone"} (425) 123-4567
    %a{ href: "mailto:mail@domain.com", itemprop: "email" } mail@domain.com
```
*/
// -----------------------------------------------------------------------------

.mailingAddress {
  // Full container
}

.mailingAddress__person {
  // Person Name
}

.mailingAddress__org {
  // Company Name
}

.mailingAddress__address {
  // Address info

  [itemprop="streetAddress"] {
    // Street Address
  }

  [itemprop="addressLocality"] {
    // City
  }

  [itemprop="addressRegion"] {
    // State
  }

  [itemprop="postalCode"] {
    // Zip Code
  }
}

.mailingAddress__contact {
  // Container to hold telephone, email, fax, etc.

  [itemprop="telephone"] {
    // Telephone Number
  }

  [itemprop="email"] {
    // Email Link
  }
}

// -----------------------------------------------------------------------------
// !-- Heading Group
// -----------------------------------------------------------------------------
/*doc
---
title: Heading Group
name: heading-group
category: Molecules - Text
---
```haml_example
%header.headingGroup
  %h1 Heading Group H1
  %h2 Heading Group H2
  %h3 Heading Group H3
  %h4 Heading Group H4
  %h5 Heading Group H5
  %h6 Heading Group H6
```
*/
// -----------------------------------------------------------------------------

.headingGroup {
  // Placeholder

  > * {
    // Add styles specific to headings in a .headingGroup here
  }
}

// -----------------------------------------------------------------------------
// !-- Blockquote/Citation
// -----------------------------------------------------------------------------
/*doc
---
title: Blockquote w/ Citation
name: blockquote-citation
category: Molecules - Text
---
```haml_example
%blockquote.quote
  %p
    Duis bibendum sollicitudin iaculis. Morbi porttitor, turpis ut tempus
    mattis, odio odio rhoncus velit, fermentum viverra odio leo in lectus. Cras
    cursus metus vitae ante congue feugiat. Morbi consequat ante id tempor
    consequat. Vestibulum nisl felis, aliquet sit amet dapibus nec.
  %footer.quote__citation Jim Jones
```
*/
// -----------------------------------------------------------------------------

.quote {
  // Placeholder

  p {
    // Handle any nested paragraph issues here
  }
}

.quote__citation {
  // Placeholder
}
