// -----------------------------------------------------------------------------
// Table of Contents
//
// - Container
// - Links
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Container
// -----------------------------------------------------------------------------

.navMain {
  @include bodyFont;
}

.navMain__list {
  @include scut-list-inline;
  text-align: center;

  @media #{map-get($bp--up, 3)} {
    text-align: right;
  }
}

// -----------------------------------------------------------------------------
// !-- Links
// -----------------------------------------------------------------------------

.navMain__link {
  font-size: vw(30px, map-get($bp, 1));
  display: block;
  padding: 0 .75em map-get($gutter, tight);
  transition: map-get($transition, standard);
  text-decoration: none;
  color: map-get($color, knockout);

  .navMain:hover & {
    opacity: map-get($cover, opacity);

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  @media #{map-get($bp--up, 2)} {
    font-size: vw(18px, map-get($bp, 1));
  }

  @media #{map-get($bp--up, 3)} {
    @include scut-padding(map-get($gutter, tight) n);
    font-size: rem(24);
  }
}
