// ------------------------------------------------------------------------------
// Table of Contents
//
// - Extends
// - Container
// - Items
// - Links & Gaps
//
// ------------------------------------------------------------------------------
/*doc
---
title: Pagination
name: nav-pagination
category: Molecules - Navigation
---

Pagination is rendered using the [kaminari gem](https://github.com/amatsuda/kaminari).

```haml_example
= paginate Kaminari.paginate_array(%w(dog cat horse dog cat horse dog cat horse dog cat horse dog cat horse)).page(7).per(1), params: { controller: "pages", action: "home" }
```
*/
// -----------------------------------------------------------------------------

// ------------------------------------------------------------------------------
// !-- Extends
// ------------------------------------------------------------------------------

%pagination__content {
  zoom: 1; // Remove Me, here so extend doesn't fail below;
}

// ------------------------------------------------------------------------------
// !-- Container
// ------------------------------------------------------------------------------

.pagination {
  // Placeholder
}

.pagination__list {
  @include scut-list-inline;
  text-align: center;
}

// -----------------------------------------------------------------------------
// !-- Items
// -----------------------------------------------------------------------------

.pagination__item {
  // Placeholder
}

// -----------------------------------------------------------------------------
// !-- Links
// -----------------------------------------------------------------------------

.pagination__link {
  @extend %pagination__content;

  &:hover,
  &:focus {
    // Placeholder
  }
}

.pagination__backward {
  // Unique styles for First Page Link Will pick up pagination__link
}

.pagination__forward {
  // Unique styles for Last Page Link
}

.pagination__gap {
  // Placeholder
}
