// -----------------------------------------------------------------------------
// Table of Contents
//
// - General
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- General
// -----------------------------------------------------------------------------

$html: (
  fontSize: 16px
);

$body: (
  color: $black,
  font: $serif,
  bg: $white
);

$selection: (
  bg: transparentize($pink, .25),
  color: map-get($color, knockout),
);
