// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Cover
//  - Blocks
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Cover
// -----------------------------------------------------------------------------

$cover: (
  bg: $gray,
  opacity: .6,
);

// -----------------------------------------------------------------------------
// !-- Blocks
// -----------------------------------------------------------------------------

$block: (
  bg--designer__title: $black,
  bg--writer: $offWhite,
  bg--writer__title: $gray--light,
  bg--builder: $black,
  bg--builder__title: map-get($color, richBlack),
);
