// -----------------------------------------------------------------------------
// Table of Contents
//
// - Cover
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Cover
// -----------------------------------------------------------------------------

$cover: (
  bg: $gray,
  opacity: .6,
);
