// -----------------------------------------------------------------------------
// Table of Contents
//
//  - Backgrounds
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Backgrounds
// -----------------------------------------------------------------------------

%bg--halftone {
  background-color: map-get($cover, bg);

  .is--loaded & {
    background-image: image_url("assets/images/bg/portrait.png");
    background-position: 50% 50%;
    background-size: cover;
  }
}
