// -----------------------------------------------------------------------------
// Table of Contents
//
// - Container Utilities
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Container Utilities
// -----------------------------------------------------------------------------

// Clearfix
%group {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}
