// -----------------------------------------------------------------------------
// Table of Contents
//
// - Container Utilities
//
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// !-- Container Utilities
// -----------------------------------------------------------------------------

// Clearfix
%group {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

%bleed--title {
  margin: (map-get($gutter, tight) * -1) (map-get($gutter, tight) * -1) map-get($gutter, tight);

  @media #{map-get($bp--up, 2)} {
    @include scut-margin(n (map-get($gutter, standard) * -1));
  }

  @media #{map-get($bp--up, 3)} {
    @include scut-margin((map-get($gutter, standard) * -1) n map-get($gutter, standard));
  }
}
