---
title: A Sunday Driver
date: 2005-07-01
tags: identity development
---

%figure.is--right.is--padded
  = lazy_image_tag "/assets/images/work/sundaydriver.jpg", 1000, 663, "Sunday Driver Logos"
%p
  When clothing designer Angel Quintana released her new line,
  = succeed "," do
    %em Fleur de Lis
  it was an opportunity to give her company, Sunday Driver, a new look as well.
  That work began with their logo. Sunday Driver&rsquo;s prior logo was a heavy,
  geometric affair that didn&rsquo;t fit well with the company&rsquo;s line.
  While sticking with a logotype, we rethought the design from the ground up to
  better convey a sense of what to expect from Angel&rsquo;s soft, flowing,
  organic style. The end result was a timeless mark, that while fitting
  wonderfully with the company&rsquo;s new line, could stand the test of time no
  matter what stylistic path their future designs take.
