---
title: An Artist&rsquo;s Reaction To War
date: 2009-08-01
tags: print design
---

%figure
  = image_tag "assets/images/work/artistsreaction.jpg"

%p
  The Firehouse Gallery, an old-style firehouse turned art gallery, does one
  thing, and does it well. They curate amazing and thought-provoking art shows
  that make the community of Louisville, GA a better place. We couldn&rsquo;t
  have been happier when they asked us to work with them on their show promotion
  materials.

%p
  For their show,
  = succeed "," do
    %strong
      %em An Artist&rsquo;s Reaction to War
  the Gallery brought together a group of artists and asked each one to create a
  piece as a response, not to a specific war, but to the concept of war in
  general. When it came time to design the poster, we couldn&rsquo;t focus on a
  single artist, and we didn&rsquo;t want to try to combine the styles of seven
  artists into a single work, so we took the opportunity to make our own
  response to war.

%p
  We combined digital stylization and silkscreen to make an image that focused
  on several of the main aspects of war: inflicting pain on the other side and
  containing their forces in an increasingly smaller space. However, it
  wasn&rsquo;t quite enough to please us. We thought of the decay that occurs in
  war-torn lands and took our piece outside, where we left it to itself decay in
  the elements of our neighborhood for two days. When the process was complete,
  we scanned the piece and used it as a backdrop for the show, itself becoming a
  de facto piece in the exhibit.

%figure
  = image_tag "assets/images/work/artistsreaction-type.jpg"
  %figcaption Type (Detail)

%figure
  = image_tag "assets/images/work/artistsreaction-bg.jpg"
  %figcaption Background (Detail)
