---
title: An Artist&rsquo;s Reaction To&nbsp;War
date: 2009-08-01
description: Silk screen, ink spatter and digital manipulation bring this poster for The Firehouse Gallery's An Artists' Reaction To War show to life.
tags: print design
---

%p
  The Firehouse Gallery, an old-style firehouse turned art gallery, does one
  thing, and does it well. They curate amazing and thought-provoking art shows
  that make the community of Louisville, GA a better place. I couldn&rsquo;t
  have been happier when they asked me to work with them on their show promotion
  materials.

%figure
  = lazy_image_tag "/assets/images/work/artistsreaction.jpg", 1000, 668, "Full Show Poster"

%p
  For their show,
  = succeed "," do
    %strong
      %em An Artist&rsquo;s Reaction to War
  the Gallery brought together a group of artists and asked each one to create a
  piece as a response, not to a specific war, but to the concept of war in
  general. When it came time to design the poster, I couldn&rsquo;t focus on a
  single artist, and I didn&rsquo;t want to try to combine the styles of seven
  artists into a single work, so I took the opportunity to make my own response
  to war.

%figure.figure--bleed
  = lazy_image_tag "/assets/images/work/artistsreaction-type.jpg", 1000, 250, "Poster Closeup Detail"
  %figcaption Type (Detail)

%p
  I combined digital stylization and silkscreen to make an image that focused
  on several of the main aspects of war: inflicting pain on the other side and
  containing their forces in an increasingly smaller space. However, it
  wasn&rsquo;t quite enough to please us. We thought of the decay that occurs in
  war-torn lands and took our piece outside, where we left it to itself to decay
  in the elements of our neighborhood for a couple days. When the process was
  complete, we scanned the piece and used it as a backdrop for the show, itself
  becoming a de facto piece in the exhibit.

%figure.figure--bleed
  = lazy_image_tag "/assets/images/work/artistsreaction-bg.jpg", 1000, 250, "Poster Closeup Detail"
  %figcaption Background (Detail)
