---
title: Brokeass Gourmet
date: 2012-08-01
description: Good food, good friends, good design... it can all be found at Broke Ass Gourmet.
tags: web design, responsive design, front end development, cms development
url: http://brokeassgourmet.com/
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/brokeass-1.jpg", 1500, 577, "Brokeass Gourmet Banner"

%p
  We first worked with Gabi Moskowitz, the amazing chef behind BrokeAss Gourmet,
  when we helped her launched her website in 2008 over an eight-day span. It was
  a pretty crazy week and we all knew we&rsquo;d eventually return to the site
  to give it the full attention it deserved.

%figure.is--right.is--padded
  = lazy_image_tag "/assets/images/work/brokeass-recipe1.jpg", 496, 627, "Recipe detail"
  %figcaption Recipe detail

%p
  That opportunity arose in the spring of 2012 as Gabi&rsquo;s first book was
  released. The
  %em BrokeAss Gourmet Cookbook
  pulled heavily from the first couple years of recipes posted to the site and
  it helped provide the beginning of a visual language for the redesign. We
  extended the book&rsquo;s design elements to the web with a focus on a fluid
  design that would adapt for all reading environments, a stronger typographic
  definition between dish introductions and the actual recipes and bigger/better
  dish photography.

%p
  In the process of redesigning the site, we worked with Gabi to find missed
  opportunities. As a result of this work, we added Books and Events sections to
  the site, as well as an expansion of her recommendations and the integration
  of a new ad network that is effective but not obtrusive. When all was said and
  done, we were able to give the site the attention it didn&#x27;t get at its
  initial launch. The result is a classier look, an easier to understand recipe
  format and a revised and refined Content Management System that makes
  Gabi&rsquo;s time spent managing the site far more efficient.
