---
title: Chicago Independent Radio&nbsp;Project
date: 2007-11-01
description: The logo that I developed for the Chicago Independent Radio Project.
tags: identity development
---

%p
  The
  = link_to "Chicago Independent Radio Project", "http://chirpradio.org/"
  is a Chicago-based non-profit organization that works to expand and reform
  access to the airwaves, lobbying Congress and the FCC to open up the dial to
  new 100-watt &ldquo;low-power FM&rdquo; broadcast licenses. They also run
  Chicago&rsquo;s best online radio station, CHIRP Radio.

%figure
  = lazy_image_tag "/assets/images/work/chirp-logo.png", 1000, 450, "CHIRP Logo"

%p
  The group&rsquo;s acronym, CHIRP, opened up a brainstorming session that ended
  with me thinking of a crow at the end of the day as the world is winding down,
  opening its beak wide and making itself heard. It was an apt metaphor that
  lent itself to a nice, clean, easily identifiable icon.
