---
title: CHIRP Radio Presents&#58; The First Time
date: 2014-10-01
description: A celebration of music, stories and new experiences, presented by CHIRP Radio and designed by us.
tags: web design, responsive design, identity development, print design
url: http://firsttime.chirpradio.org/
featured: true
thumbnail: /assets/images/work/thumbnails/???
hide_title: true
published: false
---

%p
  I&rsquo;ve been working with CHIRP Radio for years, from their start as an
  advocacy group, to the launch of their online streaming station, the success
  of their yearly record fair and having seen them get approved for their
  broadcast license. However, my personal favorite amongst the work I&rsquo;ve
  done with them was the work I did for their quarterly storytelling series,
  The First Time.

%p
  Each event consists of a set of speakers, each telling a story around a theme
  of their first something (kiss, job, car, etc.). In between each speaker, the
  First Time house band performs a cover song that relates to the story just
  told. The events are funny. They&rsquo;re touching. They&rsquo;re personal.
  They&rsquo;re social. In building the identity for the events, I tapped into
  those feelings that attendees experience.

%p
  For me, woodtype is amongst the most personal and touching of design vehicles.
  It&rsquo;s hand set by a printer that works with the medium out of love.
  Computers are quicker, offset printing is cheaper and metal plates are more
  precise, but woodtype has a built in charm that none of those carry.
  Imperfections remain with specific letters thorughout the years, and the rings
  of the trees give history to each block that doesn&rsquo;t exist in the vector
  points of digital type. This served as the inspiration for the event&rsquo;s
  identity.

%p
  The posters, postcards and programs are digitally set, and combined with true
  wood textures. This makes it easy to maintain and update the materials
  quarterly. The content, however, is set in each layout the same way a
  printmaker would: letter by letter, stacking each into the space like a game
  of Tetris with no gaps.

%p
  When it came time to design the website for the events, we used the same
  inspiration, but started from scratch, fitting the elements into a responsive
  framework that is more than just a poster in the browser. It&rsquo;s made of
  textures and letterforms that seem as if they were pressed directly into this
  flexible page.

%p
  If you haven&rsquo;t yet been to an event I can&rsquo;t encourage you strongly
  enough to change that. I only hope the work I&rsquo;ve created does your
  experience there justice.

%h3 Collaborators

%dl
  %dt Website Developer
  %dd= link_to "Surprise Highway", "http://www.surprisehighway.com"
