---
title: Confiction
date: 2009-02-01
tags: web design, identity development, front end development
---

%figure
  = image_tag 'assets/images/work/confiction-home.jpg'

%p
  Confiction began as an idea in our friend
  = success "&rsquo;" do
    = link_to "James", "http://james-smythe.com/"
  head. It evolved as we took those ideas and designed them into something that
  could be built. Confiction became reality when another friend, Jim, took those
  designs and built a back end to power them. What is Confiction? Confiction is
  a collection of condensed fiction for the digital age. It&rsquo;s a mastery of
  conciseness. It&rsquo;s silly fun. It&rsquo;s Hemingway&rsquo;s &ldquo;For
  sale: baby shoes, never worn,&rdquo; and it&rsquo;s, &ldquo;No.&rdquo; Simply
  put, Confiction is fiction written in 140 characters or less.

%p
  As James was describing his vision to us, we had one of those moments where
  the design solidified instantly. There were a couple of minor tweaks before we
  began to build things, but what you see here is pretty much what hit the
  screen as soon as we stopped talking and started making.

%p
  The approach was simple: a site featuring the written word should be built
  entirely of live html type and lining rules. The only exception was the logo,
  where we wanted to include a spot of color. This project was fun because it
  allowed us to see how far we could go with only html and css to make a design
  truly unique.

%figure
  = image_tag 'assets/images/work/confiction-about.jpg'
  %figcaption About Page (Detail)

