---
title: Direction Tour Marketing
date: 2013-02-01
description: When Direction Tour Marketing called us up for a new website we could have simply re-skinned the old one and called it a day. That's not how we work.
tags: web design, responsive design, research, front end development, cms development
url: http://directiontourmarketing.com/
featured: true
thumbnail: /assets/images/work/thumbnails/direction-thumb.jpg
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/direction-slide.jpg", 1500, 675, "Direction Website Banner"

%p
  Direction Tour Marketing is part of an overwhelmingly visual industry, and
  they needed to update their old website to better fit into this highly visual
  world. When we got the call, we could have simply re-skinned their old site,
  but that&rsquo;s not how we like to work. We took the opportunity to sit down
  with their team to look at how they did their work, and then we identified
  ways that the new website could make their job easier. The new Direction site
  isn&rsquo;t just a great looking brochure website; it&rsquo;s a tool that they
  use in their daily business.

%figure
  = lazy_image_tag "/assets/images/work/direction-slide-2.jpg", 1500, 595, "Homepage Hero"

%figure
  = lazy_image_tag "/assets/images/work/direction-slide-3.jpg", 1500, 595, "Case Study Overview"

%p
  Direction&rsquo;s old site was a bear to manage, so we started by setting up a
  Content Management System that would encourage, rather than discourage,
  regular updating of site content. Then we added a client section to allow them
  to create and securely deliver client wrap reports through the site for all
  the projects they are working on. This not only allows them to deliver their
  reports faster, but also saves them the printing and postage costs that were
  required by their old reporting system. We also created a staff section to
  allow them to more easily search and manage their business directory,
  upgrading it from an old (and slow) Excel file.


%figure
  = lazy_image_tag "/assets/images/work/direction-detail.jpg", 1000, 450, "Detail view of a case study page"
  %figcaption Case Study (detail)

%p
  Upon launch, Direction had a site that updated their brand and was visually
  impressive, but the real success of the site is in how well it integrates into
  the company&rsquo;s daily activities and has become a useful tool for getting
  their job done.
