---
title: Dreams and Visions
date: 2009-12-01
tags: print design
---

%figure
  = image_tag "assets/images/work/dreamsvisions.jpg"

%p
  When we started doing work for The Firehouse Gallery, an old style firehouse
  turned art gallery, we knew we&rsquo;d have the pleasure of being introduced
  to a plethora of new artists in the process.

%p
  For their show
  = succeed "," do
    %strong
      %em Dreams and Visions
  the gallery combined the work of two seemingly unrelated artists. On the walls
  you had the whimsical, bright and jubilant paintings of Philip Morseberger. On
  the gallery&rsquo;s floors were the copper sculptures of Anita Huffington. The
  goal for the poster was to highlight both artists&rsquo; work in a harmonious
  way.

%p
  Each gallery visitor would naturally be drawn to the work of one artist over
  another, but, the impact of this show wasn&rsquo;t just in the work of a
  single artist &ndash; instead, it focused on how that work is changed in the
  context of the other artist&rsquo;s work. With that in mind, we created two
  posters for the show. Each poster emphasized the work of one artist over the
  other while pulling in elements from the second artist&rsquo;s style, finding
  ways that those elements interacted with the main image. The images on each
  poster clearly are from two distinct artists, but have become something new
  from the interaction.
