---
title: The Field Museum
date: 2014-08-01
description: Bringing the museum experience to the browser.
tags: web design, research, responsive design, front end development
url: http://fieldmuseum.org
featured: true
thumbnail: /assets/images/work/thumbnails/?????
published: false
---

%p
  In my role as Design Director at Table XI I had the opportunity to lead the
  team that redesigned the website for a Chicago Institution, The Field Museum.
  Being an organization so heavily steeped in the sciences, we knew that we
  would need a strong foundation of research to guide our design decisions.
  That&rsquo;s where we began.

%p
  Our design team coordinated a series of stakeholder interviews and surveys. On
  site interviews were conducted with museum attendees. Thorough investigation
  of other destination based educational entertainment was completed and a
  pouring over of the current site&rsquo;s analytics was undertaken to understand the
  current weak points in the site&rsquo;s content, organization and design.

%p
  With the research in place, we transitioned towards using our findings to
  inform our solutions for the new site. A major goal of the website was to
  extend the experience of visiting the museum to visitors of the website. You
  can never recreate the feeling of staring Sue straight in the jaw, but through
  the use of large, closeup and cropped imagery on every page, we provided a
  point on each page that would trigger past visit memories. At the museum, I
  saw visitors looking at items from every angle possible, twisting themselves
  into various shapes to see as much of each item on display as they could. The
  cropped images, shot from extreme angles was born from this observation.

%figure.figure--bleed
  = lazy_image_tag "/assets/images/work/field-canvas.jpg", 2500, 724, "The design element canvas"
  %figcaption.figure__caption Before we were working in the browser we developed the design element by element in Sketch.

%p
  In our on-site interviews we found that a lot of visitors had trouble finding
  the information they needed to plan their visit beforehand. We asked them to
  find specific information on the website and recorded their screens in the
  process. Through these screen recordings we were able to push for a
  re-organization in their site structure. Through additional card sorting
  exercises done on site we were able to determine how best to reorganize the
  information on the site. When it came time to redesign the site&rsquo;s
  scaffolding, I remembered the ease at which some people felt lost while
  browsing the previous site, and worked hard to reduce the possibility of
  getting lost in the museum&rsquo;s deep content archives.

%figure.figure--bleed
  = lazy_image_tag "/assets/images/work/field-responsive.jpg", 1508, 531, "The Field Website Across Breakpoints"

%p
  Much effort was given to the site&rsquo;s responsive design as we found the
  context for using the site spread accross many locales, many situations and
  many devices. There was no &ldquo;mobile&rdquo;, &ldquo;tablet&rdquo; or
  &ldquo;desktop&rdquo; versions of the site. Rather, the team ensured that
  every page of the site had a unique purpose, and the layout of the page
  adapted smoothly to all viewports to allow for that purpose to be achieved.

%p
  I worked with our development partner, CAXY, to deliver our design templates
  in a way that would allow them to easily integrate them into the CMS they were
  building out. It was a smooth transition that allowed us to work concurrently
  and within a tight deadline leading up to the launch of the site.

%h3 Collaborators

%dl
  %dt Completed in my role as Design Director at Table XI
  %dd= link_to "Website", "http://www.tablexi.com"
  %dt Developer
  %dd= link_to "CAXY", "http://www.caxy.com"
