---
title: Fire Team Productions
date: 2010-06-01
tags: identity development
---

%figure
  = image_tag "assets/images/work/ftp-logo.jpg"

%p
  We were really excited to continue our work with the
  = link_to "Fire House Gallery", "http://galleryafire.com/"
  when they called us up to tell us that they were assembling a new video
  production arm to promote the arts in their community. What&rsquo;s the best
  way to celebrate? Logo creation, of course!

%p
  We&rsquo;d always imagined the highly motivated camera crew as an army platoon
  that had swapped their guns for recording equipment. This was our opportunity
  to bring that fantasy to life, depicting the Fire Team Productions camera crew
  as tiny plastic soldiers of visual creation.
