---
title: Glacier Film Partners
date: 2006-07-01
tags: identity development
---

%figure.is--right
  = lazy_image_tag "/assets/images/work/glacier-logo.jpg", 1000, 435, "Glacier Logo"

%p
  The documentarians who created Glacier Film Partners approached us with the
  job of visualizing their film style in a single mark. We developed a logo
  using handmade textures created through a variety of techniques: woodblock
  prints, burnt film and scratched paper. It was important for us to capture the
  handmade feel of the group&rsquo;s films. Once we created the logo, we applied
  it to a stationary set with the addition of a 4.75&quot; square mailing label
  that could double as a CD/DVD insert.

%figure
  = lazy_image_tag "/assets/images/work/glacier-stationary.jpg", 1000, 698, "Glacier Stationary Set"
  %figcaption
    Identity Collateral (Letterhead, envelope, mailing label/cd insert, business
    cards)
