---
title: Gradesaver
date: 2014-10-01
description: Improving the study experience for millions of students worldwide.
tags: web design, responsive design, front end development
url: http://gradesaver.com
featured: true
thumbnail: /assets/images/work/thumbnails/?????
hide_title: true
published: false
---

%p
  Gradesaver has been a client of Table XI through multiple revisions of their
  platform. In providing study guide and testing materials, editing services,
  writing advice and sample essays, they are in a competitive market. When it
  came time to upgrade the backend platform powering the site, we used the
  opportunity to update the front end as well to better stand out to, and
  connect with, their user base.

%p
  Most important was ensuring that the site had a strong, responsive foundation.
  The company&rsquo;s handheld traffic was way up, and their old site
  didn&rsquo;t provide for the best small screen experience. However, instead of
  targeting the mobile redesign to specific devices I created a fluid layout and
  type system that adapted to all viewport sizes.

%p
  We discovered that many students would browse with their windows narrowed on
  screen, allowing them to keep the site open side by side with their word
  processor and serve as a reference while writing papers. The fluid foundation
  ensured that regardless of device, however they wanted to access the
  site&rsquo;s content, they&rsquo;d have the best experience possible.

%p
  Performance was also key, as the site needs to load quickly at a massive
  scale. Working with the development team, we prioritized performance during
  our build, working hard to get the content on screen as quickly as possible.
  The result was a site that is readable and useful in fractions of a second at
  peak periods.

%h3 Collaborators

%dl
  %dt Completed in my role as Design Director at Table XI
  %dd= link_to "Website", "http://www.tablexi.com"
