---
title: I Am Urban&nbsp;Gateways
date: 2012-09-01
description: What to do with an anniversary site when the calendar turns the page? That's the question we helped Urban Gateways answer with their I Am Urban Gateways domain.
tags: web design, front end development, cms development
website: http://iamurbangateways.org/
---

%figure
  = lazy_image_tag "/assets/images/work/iamug-screenshot.jpg", 1000, 587, "Site Screenshot"

%p
  For their 50th anniversary, the non-profit arts organization
  = link_to "Urban Gateways", "/design/detail/urban-gateways"
  created the I Am Urban Gateways website. The purpose of the site was to house
  stories and testimonials from people who Urban Gateways had inspired
  throughout its history. It was a wonderful (and successful) initiative that
  carried one big problem with it: what do you do when year 51 arrives? We
  worked with Urban Gateways to come up with the answer.

%figure
  = lazy_image_tag "/assets/images/work/iamug-slide.jpg", 1500, 567, "Blog Detail"

%p
  The stories the organization had gathered for the original initiative were
  inspiring, and we didn&rsquo;t want to throw them away. Instead, we decided to
  use them as a starting point and build a site around that material. The
  stories and content created by, and inspiring to, the people who are engaged
  with Urban Gateways programs became the central focus of the I Am Urban
  Gateways site. It would include a blog with interviews, personal stories and
  news about staff and alumni. The video and written testimonials were still
  featured prominently on the site alongside a clear request for alumni stories
  to add to the archives. Finally, we integrated the content Urban Gateways was
  generating on their Flickr and Twitter accounts into the site design to
  further highlight the human aspect of the organization.
