---
title: Jameson Commercial
date: 2009-11-01
tags: web design, front end development
website: http://www.jamesoncommercial.com/
---

%figure
  = image_tag "assets/images/work/jameson-commercial.jpg"

%p
  While we were on contract for Jameson Real Estate, the company took steps to
  greatly enhance awareness of their Commercial Real Estate division. Part of
  the process was to create a fully independent website for the commercial
  division. We worked in tandem with Jameson&rsquo;s print design team to
  develop and expand the new Jameson Commercial identity to the web, keeping the
  finished site clean, consistent and concise.
