---
title: James Smythe
date: 2012-10-01
description: I go back quite a while with UK-based author James Smythe. When he needed a new website I simply asked, 'How awesome?'
tags: web design, responsive design, front end development, cms development
featured: true
thumbnail: /assets/images/work/thumbnails/jamessmythe-thumb.jpg
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/james-smythe-slide.jpg", 1000, 386, "James Smythe Website Banner"

%p
  I can say that I knew UK based author, James Smythe, before he made it big.
  He&rsquo;s a long-time friend and collaborator, and when it came time for him
  to move away from Tumblr onto a dedicated website, I made sure to outdo
  myself. The requirements were simple: build an easily manageable site that
  would allow him to blog on a regular basis, update his work as new novels
  are published and carry a design that was distinctive of his style while not
  needing to be updated with every new release. But of course I wanted to do
  more.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/james-smythe-detail.jpg", 1000, 469, "Homepage detail"

%p
  The biggest achievement with James&rsquo; site is the section that features
  his published novels. Knowing how much he works with his publisher to create
  stunning jacket art, we built a system that allows him to customize each page
  to best suit the artwork of the featured novel. This results in unique layouts
  and designs that are built around each novel&rsquo;s look and feel while all
  being managed in the same place. On top of that, we built Tumblr-style
  publishing into his blog, created an events calendar and wrapped it all in
  some nice, fluid responsiveness. We must say, even if we hadn&rsquo;t built
  it, this would still be one of our favorite author sites.

%figure.figure--bleed
  = lazy_image_tag "/assets/images/work/james-smythe-slide-2.jpg", 1500, 571, "Alternate book layouts"
