---
title: Jameson Commercial
date: 2009-11-01
description: I worked with Jameson real estate top redesign their commercial real estate website.
tags: web design, front end development
website: http://www.jamesoncommercial.com/
---

%p
  While I was on contract at Jameson Real Estate, the company took steps to
  greatly enhance awareness of their Commercial Real Estate division. Part of
  the process was to create a fully independent website for the commercial
  division. I worked in tandem with Jameson&rsquo;s print design team to
  develop and expand the new Jameson Commercial identity to the web, keeping the
  finished site clean, consistent and concise.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/jameson-commercial.jpg", 1750, 1064, "Jameson Commercial Home Page Mockup"
