---
title: Jameson Commercial
date: 2009-11-01
description: We worked with Jameson real estate top redesign their commercial real estate website.
tags: web design, front end development
website: http://www.jamesoncommercial.com/
---

%p
  While we were on contract for Jameson Real Estate, the company took steps to
  greatly enhance awareness of their Commercial Real Estate division. Part of
  the process was to create a fully independent website for the commercial
  division. We worked in tandem with Jameson&rsquo;s print design team to
  develop and expand the new Jameson Commercial identity to the web, keeping the
  finished site clean, consistent and concise.

%figure
  = lazy_image_tag "/assets/images/work/jameson-commercial.jpg", 1000, 587, "Jameson Commercial Home Page Mockup"
