---
title: Jefferson County Goods
date: 2010-06-01
tags: identity development
---

%figure
  = image_tag "assets/images/work/jcg-logo.jpg"

%p
  When our friends at the
  = link_to "Fire House Gallery", "http://galleryafire.com/"
  informed us that they were creating  a new organization to reach out to local
  young people and introduce them to the arts we gave the idea our full seal of
  approval. It was logo time.
