---
title: Jefferson County Goods
date: 2010-06-01
description: Logo for an organization reaching out to their community youth and introduce them to the arts.
tags: identity development
---

%figure
  = image_tag "assets/images/work/jcg-logo.jpg"

%p
  When my friends at the
  = link_to "Fire House Gallery", "http://galleryafire.com/"
  informed me that they were creating a new organization to reach out to local
  young people and introduce them to the arts I gave the idea my full seal of
  approval. It was logo time.
