---
title: Locust Music
date: 2010-03-01
tags: web design, front end development, cms development, textpattern
---

%figure
  = image_tag "assets/images/work/locust-home.jpg"

%p
  We worked with Chicago record label Locust Music to rebuild their site from
  the ground up. Moving from a fragile, outdated CMS to a more flexible solution
  allowed us to rethink the label&rsquo;s content structure as much as we were
  rethinking the design. We wanted to link all of the site&rsquo;s content back
  to the relevant artist and more easily share related artist content on blog
  entries, artist pages, release pages and anywhere else it made sense. We
  worked with the label to develop a new online ordering system that could
  support digital releases alongside physical goods, and developed a web-based
  system to securely deliver promotional materials to writers and radio stations.

%figure
  = image_tag "assets/images/work/locust-browse.jpg"
  %figcaption Catalog Browsing

%figure
  = image_tag "assets/images/work/locust-itemdetail.jpg"
  %figcaption Catalog Item
