---
title: New Season New&nbsp;City
date: 2012-08-01
description: Elizabeth Weiss needed a discovery platform for the families of minor league hockey players. We worked with her to build it.
tags: web design, responsive design, research, front end development, cms development, identity development
featured: true
thumbnail: /assets/images/work/thumbnails/newseasonnewcity-thumb.jpg
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/nsnc-slide.jpg", 1000, 399, "New Season New City Website Banner"

%p
  Elizabeth Weiss is the wife of a minor league hockey player. As such, she
  finds herself moving around the country each time her husband is transferred
  or when she travels with the team. With most of the teams in secondary/third
  tier markets, Yelp was no use to her as she searched for things to do in her
  new surroundings. That&rsquo;s when she decided to build New Season New City,
  a resource for the Hockey Nomads crisscrossing the country, powered by
  recommendations coming directly from the group it was targeting.

%figure
  = lazy_image_tag "/assets/images/work/newseason-1.jpg", 1000, 321, "Detail of the team picker"
  %figcaption Team Selection (Detail)

%p
  At its heart, the site is a recommendation engine powered by the community.
  Other hockey families recommend their favorite things in their team&rsquo;s
  market. Businesses can be rated, reviewed and favorited. Where New Season New
  City separates itself is in its browsing mechanism. Rather than categorizing
  everything at the top level by business type, New Season New City organizes
  all of the businesses on the site by the team they are associated with. When
  you find yourself traveling to a new team&rsquo;s region, you simply click
  their name and begin filtering the businesses in that region based on your
  interests.

%figure
  = lazy_image_tag "/assets/images/work/newseason-2.jpg", 1000, 363, "Detail of the business listings"
  %figcaption Business Listing (Detail)

%p
  We worked with Elizabeth to perfect the browsing process. From there, we
  developed a visual identity for the site and built out a back end to support
  the community being targeted. We also made sure the site was flexible enough
  so that it could slowly be scaled to additional leagues (and eventually be
  scaled out to additional sports as well). We&rsquo;re excited to see what the
  future holds for New Season New City.
