---
title: Noodle Music
date: 2005-10-01
tags: identity development
---

%figure
  = image_tag "assets/images/work/noodle-logo.jpg"

%p
  We were hired to create the identity for Noodle Music, a company helping
  expose the world to new and emerging artists/musicians. Not content being a
  record label, management company or marketing group, Noodle developed their
  own spot somewhere in the middle. The logo sprang from the company&rsquo;s
  approach to guerrilla marketing.

%p
  A large portion of Noodle&rsquo;s public presence would be their website, a
  portal to discover the new talent they represent. We used this as the basis
  for the color scheme, creating red, green, blue (the color spectrum of light),
  and grayscale versions of the logo.
