---
title: Patterns In The Landscape
date: 2009-07-01
tags: print design
---

%figure
  = image_tag "assets/images/work/pitl.jpg"

%p
  The Firehouse Gallery and Love Has No Logic met each other early in 2009, and
  it was love at first sight. This wonderful old-style firehouse turned art
  gallery in Louisville, GA has put on nothing but spectacular shows since
  we&rsquo;ve crossed paths, and their
  %strong
    %em Patterns in the Landscape
  show was no different.

%p
  Mapmaker Tommy Jordan had been spending his time surveying land quite
  efficiently with camera in hand. His photos are works of art, and they took
  center stage in the poster we put together for his show.

%p
  One particular photo caught our eye, showing the early morning sun as it
  perfectly catches a collection of colored bottles. From there, the ideas just
  began jumping off the page.
