---
title: Plastic Airlines
date: 2004-10-01
tags: identity development
---

%figure.is--right.is--spaced
  = image_tag "assets/images/work/pa-logo.png"

%p
  Plastic Airlines is a record label created by the founder of Harmless Records.
  The label&rsquo;s main focus is limited edition vinyl releases. We received
  just a single word for direction&hellip; &lsquo;airplane.&rsquo;

%p
  Since we knew the label was sticking to vinyl-only releases, we created a
  circular logo that could easily be transferred to vinyl labels. The typeface
  used was Chalet Tokyo. We thoroughly enjoyed the way that the &lsquo;p&rsquo;
  and the &lsquo;a&rsquo; fit with each other, and that&#x27;s actually where we
  began. Once those two letters fell into place, the rest of the logo just came
  naturally.
