---
title: Plastic Airlines
date: 2004-10-01
description: The logo I designed for Plastic Airlines Records, a limited-run, vinyl-only record label based out of Chicago.
tags: identity development
---

%figure.is--right.is--padded
  = lazy_image_tag "/assets/images/work/pa-logo.png", 267, 267, "Logo & Vinyl B-Side Label"

%p
  Plastic Airlines is a record label created by the founder of Harmless Records.
  The label&rsquo;s main focus is limited edition vinyl releases. I received
  just a single word for direction&hellip; &lsquo;airplane.&rsquo;

%p
  Since I knew the label was sticking to vinyl-only releases, I created a
  circular logo that could easily be transferred to vinyl labels. The typeface
  used was Chalet Tokyo. I thoroughly enjoyed the way that the &lsquo;p&rsquo;
  and the &lsquo;a&rsquo; fit with each other, and that&#x27;s actually where I
  began. Once those two letters fell into place, the rest of the logo just came
  naturally.
