---
title: The Minus Scale
date: 2009-07-01
description: Fun with fashion magazines led to this poster for The Minus Scale's final show.
tags: illustration, print design
---

%figure
  = lazy_image_tag "/assets/images/work/minusscale.jpg", 1000, 1370, "Final Show Poster for The Minus Story"

%p
  For their final show, we worked with The Minus Scale to create a memorable gig
  poster that they could have screen printed to commemorate the event. We had a
  great time with texture and transformation as gravel became a starry sky,
  torn-up fashion magazines became approachable faces, woodblocks became a city
  skyline and some circles we drew with a marker became the moon shooting out
  its dim light in the night.
