---
title: Urban Gateways
date: 2012-09-01
description: Urban Gateways had a great looking site that was a pain to manage. I helped them fix it.
tags: web design, front end development, cms development
website: http://urbangateways.org/
---

%p
  Urban Gateways is a non-profit group that organizes and manages arts programs
  for Chicago area schools. They had a website that was visually appealing, but
  frustrating to manage. I worked with the organization to identify bottlenecks
  that discouraged them from keeping the content up to date and helped target
  missed opportunities and areas for site expansion. Then I built out the back
  end to support their site management needs. The result has been a site
  that&rsquo;s more frequently updated and employees who have more time to focus
  on their primary tasks.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/ug.jpg", 1800, 1281, "Homepage Mockup"
  %figcaption.figure__caption http://urbangateways.org

%p
  While working with Urban Gateways, I realized that they could greatly expand
  their program offerings on the site, keeping information more timely and
  offering quite a bit of the same material that they had in their printed
  catalogs. The new CMS also allowed them to make direct connections between the
  artists who teach their programs and the programs they offer. Utilizing
  ExpressionEngine&rsquo;s multi-site manager the posts on the group&rsquo;s
  = link_to "I Am Urban Gateways", "http://lovehasnologic.com/design/detail/i-am-urban-gateways"
  site were integrated into the front page and news section of this site.
