---
title: Wastelands Film Festival
date: 2008-06-01
tags: print design, illustration
---

%figure
  = image_tag "assets/images/work/wastelands-banner.jpg"

%p
  Our love of progressive politics is equaled by our affection for well-produced
  entertainment. That&rsquo;s why we couldn&rsquo;t say no to
  = link_to "Peace Action New York State", "http://www.panys.org/"
  when they approached us about doing the promotional flyers for their second
  annual end-of-summer film festival. The festival,
  = success "," do
    %em Wastelands: The Environmental Casualties of War
  focused on the impact that military action around the globe has on human life,
  the economy, and the planet.

%figure.is--right.is--spaced
  = image_tag "assets/images/work/wastelands-flyer.jpg"

%p
  Because the budget for the project was low and most of the reproduction would
  be done utilizing the resources available, the flyer was limited to a single
  color that would translate best on a photocopier. The irony of printing a
  large number of flyers to promote a film festival highlighting environmental
  destruction at the hands of war was not lost on us, so we made the flyer as
  small as possible, fitting two-up on a letter-sized sheet of paper. The flyer
  is small but it packs a punch, with a linocut-inspired graphic treatment and a
  broadside-influenced layout.
