---
title: Wastelands Film Festival
date: 2008-06-01
description: Combining our love of watching films and making flyers, I put these together for Peace Action New York State's Wasteland Film Festival.
tags: print design, illustration
hide_title: true
---

- content_for :custom_styles do
  :scss
    .body {
      padding-top: 255px;
      background: url("/assets/images/work/wastelands-border.png") 50% 5px repeat-x;

      @media (max-width: 750px) {
        padding-top: 125px;
        background-size: 250px 102px;
      }
    }

%figure.figure--tight
  = lazy_image_tag "/assets/images/work/wastelands-logo.png", 1750, 278, "Event Logo and Tagline"

%figure.is--right.is--padded
  = lazy_image_tag "/assets/images/work/wastelands-flyer.png", 500, 833, "Poster"

%p
  My love of progressive politics is equaled by my affection for well-produced
  entertainment. That&rsquo;s why I couldn&rsquo;t say no to
  = link_to "Peace Action New York State", "http://www.panys.org/"
  when they approached me about doing the promotional flyers for their second
  annual end-of-summer film festival. The festival,
  = succeed "," do
    %em Wastelands: The Environmental Casualties of War
  focused on the impact that military action around the globe has on human life,
  the economy, and the planet.

%p
  Because the budget for the project was low and most of the reproduction would
  be done utilizing the resources available, the flyer was limited to a single
  color that would translate best on a photocopier. The irony of printing a
  large number of flyers to promote a film festival highlighting environmental
  destruction at the hands of war was not lost on us, so we made the flyer as
  small as possible, fitting two-up on a letter-sized sheet of paper. The flyer
  is small but it packs a punch, with a linocut-inspired graphic treatment and a
  broadside-influenced layout.
